<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../static/img/travel/icone travel.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Travel</title>
    <link rel="stylesheet" href="../static/css/concept.css">
</head>
<body>
       
    
    <header>
        <div class="container">
            <nav>
                <div class="logo">
                    <img src="../static/img/travel/travel-logo-275-5824.webp" alt=""/>
                </div>
                <ul>
                    <div class="btn">
                        <i class="fas fa-times close-btn"></i>
                    </div>
                    <li> <a href="/travel">Accueil</a></li>
                    <li> <a href="/travel">Destinations</a></li>
                    <li> <a href="/concept">Concept</a></li>
                    <li> <a href="/about us">A propos</a></li>
                    
                    <li> <a href="/compte">Connecter</a></li>
                </ul>
                <div class="btn">
                    <i class="fas fa-bars menu-btn"></i>
                </div>
            </nav>
        </div>
    </header>
    
    <script>const menus=document.querySelector("nav ul");
        const header=document.querySelector("header");
        const menuBtn=document.querySelector(".menu-btn");
        const closeBtn=document.querySelector(".close-btn");
        menuBtn.addEventListener('click', ()=>{
         menus.classList.add("display");
        });
        
        closeBtn.addEventListener('click', ()=>{
            menus.classList.remove("display");
           });
        
        </script>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

    <header1 class="center-container">
        <h1>Travel</h1>
        <h4>Des voyages inoubliables à travers le monde, offerts avec passion et professionnalisme.</h4>
        <a href="/travel">
            <button >Parcourir nos offres</button>
        </a>
    </header1>

    <section class="main" id="produits">

        <div class="content">
            <div class="card">
                <div class="left">
                    <h1>1. Offres de voyages à prix compétitifs</h1>
                    <p>Grâce à notre modèle de distribution en ligne, nous réduisons les coûts et vous offrons des voyages à des prix imbattables. Explorez le monde avec des offres exceptionnelles.</p>
                </div>
                <div class="right">
                    <img src="../static/img/travel/travel-logo-275-5824.webp">
                </div>
            </div>

            <div class="card">
                <div class="left">
                    <h1>2. Expérience de voyage inoubliable</h1>
                    <p>Nous sélectionnons des circuits qui garantissent une expérience unique, avec des visites guidées, des activités locales et des services premium.</p>
                </div>
                <div class="right">
                    <img src="../static/img/travel/promo.jpg">
                </div>
            </div>

            <div class="card">
                <div class="left">
                    <h1>3. 30 jours pour changer d'avis</h1>
                    <p>Vous avez 30 jours après votre réservation pour changer d'avis. Si vous n'êtes pas satisfait de votre circuit, nous vous remboursons sans condition.</p>
                </div>
                <div class="right">
                    <img src="../static/img/travel/rendre argent.jpg">
                </div>
            </div>

            <div class="card">
                <div class="left">
                    <h1>4. Délais de départ clairement affichés</h1>
                    <p>Les dates de départ et les informations relatives aux voyages sont claires et transparentes. Vous serez informé de l'avancement de votre réservation à chaque étape.</p>
                </div>
                <div class="right">
                    <img src="../static/img/travel/heureépart.jpg">
                </div>
            </div>

            <div class="card">
                <div class="left">
                    <h1>5. Assurance voyage incluse</h1>
                    <p>Nous offrons une assurance voyage pour garantir votre sécurité tout au long de votre aventure. Profitez de vos vacances sans souci.</p>
                </div>
                <div class="right">
                    <img src="../static/img/travel/enviro.jpg">
                </div>
            </div>

            <div class="card">
                <div class="left">
                    <h1>6. Engagement écologique</h1>
                    <p>Nous soutenons des pratiques de voyage durables. Nous offrons des options respectueuses de l'environnement, comme des circuits écologiques et la compensation des émissions de CO2.</p>
                </div>
                <div class="right">
                    <img src="../static/img/travel/ecolog.jpg">
                </div>
            </div>

            <div class="card">
                <div class="left">
                    <h1>UNE QUESTION ?</h1>
                    <p>Vous avez des questions sur nos voyages ? Consultez notre FAQ ou contactez-nous par téléphone du lundi au vendredi de 9h à 18h. Nous sommes là pour vous aider à planifier votre prochain voyage.</p>
                </div>
                <div class="right">
                    <img src="../static/img/travel/conctactnous.PNG">
                </div>
            </div>
        </div>
    </section>

    <footer>
        <h1>Nos Services</h1>
        <div class="services">
            
            <div class="service">
                <h3>Voyages sur mesure</h3>
                <p>Nous créons des itinéraires personnalisés selon vos préférences.
                     Que vous soyez passionné d'aventure, de culture, ou de détente, 
                     nous avons le voyage idéal pour vous.</p>
            </div>

            <div class="service">
                <h3>Paiement sécurisé</h3>
                <p>Payer pour vos voyages en toute sécurité avec des méthodes de paiement
                    
                     fiables et protégées. Profitez d'un processus simple et rapide pour
                      réserver votre prochain voyage.</p>
            </div>

            <div class="service">
                <h3>Assistance 24/7</h3>
                <p>Notre équipe est disponible 24h/24 et 7j/7 pour répondre à vos
                     questions et vous aider à résoudre tout problème pendant votre voyage.
                      Votre satisfaction est notre priorité.</p>
            </div>

        </div>

        <p id="contact">Contactez-nous : 01 23 45 67 89 | &copy; 2024,Travel.</p>
    </footer>
</body>
</html>
