
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Destination - Espagne</title>
  <link rel="stylesheet" href="../static/css/thailande.css">
</head>
<body>
    <header class="header">
        <nav>
          <ul>
            <li>
              <a href="#voyager-espagne">Voyager en Espagne</a>
            </li>
            <li>
              <a href="#nos-voyages">Nos Voyages</a>
            </li>
            <li>
              <a href="#nos-sejours">Nos Séjours</a>
            </li>
            <li>
              <a href="#guide-pratique">Guide pratique</a>
            </li>
          </ul>
        </nav>
      </header>


  <main>

    <section id="carousel" class="carousel">
      <section class="destination-title">
        <h1  class="main-title">Espagne</h1>
        <div class="title-underline"></div>
        <p class="subtitle">Une symphonie de culture, de paysages et de saveurs</p>
      </section>
      <div id="voyager-espagne" class="slide active"><img src="../static/img/Espagne/1ere partie image 1.jpg" alt="\&quot;Image"></div>
      <div class="slide"><img src="../static/img/Espagne/1ere partie image 2.jpg" alt="Image 2"></div>
      <div class="slide"><img src="../static/img/Espagne/1ere partie image 3.jpg.jpg" alt="Image 3"></div>
      <div class="slide"><img src="../static/img/Espagne/1ere partie image 4.jpg" alt="Image 4"></div>
      <div class="slide"><img src="../static/img/Espagne/1ere partie image 5.jpg" alt="Image 5"></div>
      <div class="slide"><img src="../static/img/Espagne/1ere partie image 6.jpg" alt="Image 6"></div>
      <div class="slide"><img src="../static/img/Espagne/1ere partie image 7.jpg" alt="Image 7"></div>
      <div class="slide"><img src="../static/img/Espagne/1ere partie image 8.jpg" alt="Image 8"></div>
      <div class="controls">
        <span class="control" data-slide="0">01</span> <span class="control" data-slide="1">02</span> <span class="control" data-slide="2">03</span> <span class="control" data-slide="3">04</span> <span class="control" data-slide="4">05</span> <span class="control" data-slide="5">06</span> <span class="control" data-slide="6">07</span> <span class="control" data-slide="7">08</span>
      </div>
    </section>
    <br>
    

    <section class="main-layout">
        <div class="description">
            <h2>Espagne</h2>
            <p>
                L'Espagne, une nation envoûtante où l'histoire se mêle à la passion, et où le soleil baigne des paysages variés, est une invitation à l'émerveillement. Entre plages scintillantes, villes cosmopolites et villages pittoresques, elle dévoile une diversité captivante. L'Espagne séduit par son patrimoine artistique, sa gastronomie exquise et la joie de vivre contagieuse de son peuple. Cette destination vous promet un voyage inoubliable, une rencontre avec une culture riche et un art de vivre vibrant. Préparez-vous à être inspiré par la magie espagnole.
            </p>
        </div>
        <div class="info-cards-small">
            <div class="card">
                <img src="../static/img/Espagne/monnaie icone.jpg" alt="Monnaie Icon">
                <h3>Monnaie</h3>
                <p>Euro (EUR)</p>
            </div>
            <div class="card">
                <img src="../static/img/Espagne/avion icone.png" alt="Temps de vol Icon">
                <h3>Temps de vol</h3>
                <p>2h10</p>
            </div>
            <div class="card">
                <img src="../static/img/Espagne/decalage icone.png " alt="Décalage horaire Icon">
                <h3>Décalage horaire</h3>
                <p>Aucun</p>
            </div>
        </div>
    </section>

    
    <section class="why-thailand">
      <h2>Pourquoi partir en Espagne ?</h2>
      <p>Les conseils de nos Travel Designers</p>
      <div class="features">
        <div class="feature">
          <img src="../static/img/Espagne/icone.PNG" alt="Beach icon">
          <p>Un héritage culturel et historique élouissant </p>
        </div>
        <div class="feature">
          <img src="../static/img/Espagne/icone.PNG" alt="Food icon">
          <p>Des îles paradisiaques et plages ensoleillées</p>
        </div>
        <div class="feature">
          <img src="../static/img/Espagne/icone.PNG" alt="Temple icon">
          <p>Délices et traditions culinaires</p>
        </div>
        <div class="feature">
          <img src="../static/img/Espagne/icone.PNG" alt="Ceremony icon">
          <p>Une destination vibrante et conviviale</p>
        </div>
      </div>
    </section>


    <section class="experience-section">
      <div class="text">
        <h2>Terre de contraste</h2>
        <h3>Une mosaïque d'émotions</h3>
        <p>
             Des gratte-ciel futuristes de Barcelone aux ruelles médiévales de Tolède, chaque coin du pays raconte une histoire unique. Plongez dans un riche héritage culturel, où l'art de Gaudi côtoie l'architecture mauresque et où les festivals animés célèbrent les traditions ancestrales. Que vous vous aventuriez dans les montagnes majestueuses de la Sierra Nevada, que vous vous détendiez sur les plages de sable fin de l'Andalousie ou que vous découvriez les secrets cachés des villages blanchis à la chaux en Andalousie, chaque instant en Espagne est une découverte captivante.  
        </p>
      </div><img src="../static/img/Espagne/2eme partie image 1.jpg" alt="Expériences en Thaïlande">
    </section>


    <section class="experience-section">
      <img src="../static/img/Espagne/2eme partie image 2.jpg" alt="La Thaïlande au-delà du rêve">
      <div class="text">
        <h2>Évasion luxueuse et authentique</h2>
        <h3>L'art du Voyage</h3>
        <p> Plongez dans l'Espagne authentique, un joyau chatoyant où l'insolite se mêle à l'âme bohème. Nous vous invitons à une odyssée exclusive, une exploration sans pareille des multiples visages de l'Espagne et de ses îles, où chaque région révèle ses secrets les plus exclusifs. Découvrez les Baléares hors des sentiers battus, une immersion captivante sur quatre îles extraordinaires. Ou optez pour l'Andalousie, un voyage exceptionnel au charme architectural inégalé, avec des adresses luxueuses pour parfaire votre expérience.
            On vous invite à vivre l'Espagne sous un nouveau jour, où le luxe et l'authenticité se marient pour une expérience inoubliable.</p>
      </div>
    </section>


    <section class="experience-section">
      <div class="text">
        <h2>Rendez-vous avec l'exclusivité</h2>
        <h3>Souvenirs authentiques</h3>
        <p>  
            Plongez au cœur de votre passion pour les chevaux en explorant un prestigieux élevage de pur-sang arabes et vivez des instants inoubliables. Parmi les pittoresques villages blancs d'Andalousie, savourez des fromages exquis chez un artisan local, explorez un domaine viticole familial, et délectez-vous de l'huile d'olive merveilleuse, née des terres authentiques de cette région. Offrez-vous une expérience unique en visitant en exclusivité les majestueuses Grottes du Drach et  vivez l'ultime raffinement avec un concert de musique classique privé au cœur de ce décor exceptionnel. Autant d'expériences possibles que de souvenirs incomparables.</p>
      </div><img src="../static/img/Espagne/2eme partie image 3.jpg" alt="Expériences en Thaïlande">
    </section>


    <section class="experience-section">
      <img src="../static/img/Espagne/2eme partie image 4.jpg" alt="La Thaïlande au-delà du rêve">
      <div class="text">
        <h2>Trésors culturel inestimables</h2>
        <h3> Une palette à explorer</h3>
        <p>
           La culture espagnole est un trésor de diversité, inscrite dans l'âme même de ce pays. Madrid, sa capitale, rayonne en tant que centre culturel, mais chaque région et ville révèle un pan unique de l'héritage ibérique. De Séville à Cordoue, des jardins almohades aux cathédrales majestueuses, l'Espagne vous envoûte par son patrimoine architectural. Dans les Pyrénées catalanes, l'architecture romane et les monastères cisterciens vous transportent dans une autre époque.</p>
      </div>
    </section>

    <section class="experience-section">
        <div class="text">
          <h2>Voyage des sens</h2>
          <h3>Une symphonie de saveurs</h3>
          <p>
             La gastronomie espagnole fusionne les influences méditerranéennes et nord-africaines pour créer une symphonie de saveurs exquises. C'est un voyage sensoriel qui révèle des trésors culinaires emblématiques tels que la paella, les tapas, le jambon ibérique, la tortilla de patatas ou encore le gazpacho. Promenez-vous dans les ruelles envoûtantes de Barcelone ou de Madrid, et vous découvrirez que chaque coin de rue est une invitation à créer des souvenirs culinaires inoubliables, à savourer l'authenticité, à partager des moments inestimables.</p>
        </div><img src="../static/img/Espagne/2eme partie image 5.jpg" alt="Expériences en Thaïlande">
      </section>


      <section id="nos-voyages" class="coups-de-coeur">
        <h2>Nos coups de cœur</h2>
        <div class="cards-container">
            <div class="card">
                <img src="../static/img/Espagne/3eme partie image 1.jpg" alt="Sha Wellness">
                <p class="location">ESPAGNE - VALENCE</p>
                <h3>Sha Wellness</h3>
                <p>Dans un écrin de nature sauvage bordé par la Méditerranée, entre la baie d’Altea et le parc naturel de Sierra Helada à 40 minutes...</p>
                <a href="/reservation">Réservez ></a>
            </div>
            <div class="card">
                <img src="../static/img/Espagne/3eme partie image 2.jpg" alt="Chevauchée andalouse">
                <p class="location">ESPAGNE - ANDALOUSIE</p>
                <h3>Chevauchée andalouse</h3>
                <p>Ce circuit en Andalousie dévoile de multiples facettes de la région, avec la rencontre d’un peuple fier, passionné et authentique...</p>
                <a href="/reservation">Réservez ></a>
            </div>
            <div class="card">
                <img src="../static/img/Espagne/3eme partie image 3.jpg" alt="La Sierra Morena au rythme des chevaux">
                <p class="location">ESPAGNE - ANDALOUSIE</p>
                <h3>La Sierra Morena au rythme des chevaux</h3>
                <p>Niché dans les montagnes de la Sierra Morena, l’itinéraire de ce séjour équestre vous promet les paysages exceptionnels du nord andalou...</p>
                <a href="/reservation">Réservez ></a>
            </div>
            <div class="card">
                <img src="../static/img/Espagne/3eme partie image 4.jpg" alt="The Ritz-Carlton, Abama">
                <p class="location">ESPAGNE - ÎLES CANARIES</p>
                <h3>The Ritz-Carlton, Abama</h3>
                <p>Dans un jardin luxuriant bordé par l’océan Atlantique, le Ritz-Carlton, Abama étend son élégante architecture d’inspiration mauresque...</p>
                <a href="/reservation">Réservez ></a>
            </div>
        </div>
    </section>
    


    <section id="nos-sejours" class="sejours-section">
        <h2>Nos Séjours | Espagne</h2><br>
        <div class="sejours-cards">
            <div class="card">
                <img src="../static/img/Espagne/4eme partie image 1.jpg" alt="Anantara Rasananda">
                <p class="location">ESPAGNE - ILES CANARIES</p>
                <h3>The Ritz-Calton, Abama</h3> <br>
                <a class="category" href="/hotel_Espagne">HÔTEL ></a>
            </div>
            <div class="card">
                <img src="../static/img/Espagne/4eme partie image 2.jpg" alt="Anantara Koh Yao">
                <p class="location">ESPAGNE - BALEARES</p>
                <h3>Convent de la Missio</h3> <br>
                <a class="category" href="/hotel_Espagne">HÔTEL ></a>
            </div>
            <div class="card">
                <img src="../static/img/Espagne/4eme partie image 3.jpg" alt="Mandarin Oriental">
                <p class="location">ESPAGNE - BALEARES</p>
                <h3>Oku Ibiza</h3> <br>
                <a class="category" href="/hotel_Espagne">HÔTEL ></a>
            </div>
            <div class="card">
                <img src="../static/img/Espagne/4eme partie image 4.jpg" alt="Six Senses Koh Samui">
                <p class="location">ESPAGNE - BALEARES</p>
                <h3>The Lodge</h3> <br>
                <a class="category" href="/hotel_Espagne">HÔTEL ></a>
            </div>
        </div>
    </section>

    <div id="guide-pratique"  class="guide-pratique-container">
        <h2>Guide pratique</h2>
        <p>Tous nos conseils pour bien préparer votre départ</p>
    
        <div class="guide-pratique-content">
    
            <!-- Section Informations Générales -->
            <div class="guide-pratique-column">
                <h3 onclick="toggleSection('info-gen')">Informations générales &#9662;</h3>
                <div id="info-gen" class="hidden-section">
                    <div class="question" onclick="toggleReponse('reponse1')">
                        <h4>Monnaie</h4>
                        <div class="reponse" id="reponse1">
                            <p>La monnaie est l'Euro.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse2')">
                        <h4>Décalage horaire</h4>
                        <div class="reponse" id="reponse2">
                        <p>Il n’y a pas de décalage horaire.
                            </p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse3')">
                        <h4>Langue</h4>
                        <div class="reponse" id="reponse3">
                            <p>La langue officielle est l’espagnol.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse4')">
                        <h4>Électricité</h4>
                        <div class="reponse" id="reponse4">
                            <p>Les espagnols disposent des mêmes prises qu’en France.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse5')">
                        <h4>Téléphone</h4>
                        <div class="reponse" id="reponse5">
                            <p>
                                Pour appeler l'Espagne depuis la France, composer le 00 + 34 puis le numéro du correspondant à 9 chiffres.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    

            <!-- Section Formalités -->
            <div class="guide-pratique-column">
                <h3 onclick="toggleSection('formalites')">Formalités &#9662;</h3>
                <div id="formalites" class="hidden-section">
                    <div class="question" onclick="toggleReponse('reponse6')">
                        <h4>Visa</h4>
                        <div class="reponse" id="reponse6">
                            <p>Un voyage en Espagne ne nécessite pas de visa.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse7')">
                        <h4>Passeport</h4>
                        <div class="reponse" id="reponse7">
                            <p>Il vous faudra une carte nationale d’identité ou un passeport en cours de validité. </p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse8')">
                        <h4>Santé</h4>
                        <div class="reponse" id="reponse8">
                            <p>Aucun vaccin n'est obligatoire.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse9')">
                        <h4>Lien utils</h4>
                        <div class="reponse" id="reponse9">
                            <p>
                                Composez le 112 pour les urgences <br>
                                Composez le 091 pour la police <br>
                                Composez le 080 pour les pompiers <br>
                                </p>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Section Avant de Partir -->
            <div class="guide-pratique-column">
                <h3 onclick="toggleSection('avant-partir')">Avant de partir &#9662;</h3>
                <div id="avant-partir" class="hidden-section">
                    <div class="question" onclick="toggleReponse('reponse10')">
                        <h4>Recommandations de voyage</h4>
                        <div class="reponse" id="reponse10">
                            <p>Nous vous recommandons d’emporter avec vous une photocopie de vos documents (passeport, permis de conduire…).  <br>

                                Nous vous recommandons également d’avoir en votre possession une carte européenne d’assurance maladie (CEAM), nominative et individuelle, donne droit à une prise en charge médicale</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse11')">
                        <h4>Dans sa valise </h4>
                        <div class="reponse" id="reponse11">
                            <p>Prévoyez des vêtements légers et confortables, une bonne protection solaire ainsi que des chaussures adaptées pour la marche.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse12')">
                        <h4>Savoir-vivre et tips</h4>
                        <div class="reponse" id="reponse12">
                            <p>Que vous souhaitiez vous imprégner de l'architecture spectaculaire de Gaudí à Barcelone, vous perdre dans les jardins luxuriants de l'Alhambra à Grenade, savourer des tapas et du jambon ibérique à Madrid, ou danser toute la nuit sur les plages d'Ibiza, il y a quelque chose pour chaque type de voyageur. </p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse13')">
                        <h4>Quelques mots</h4>
                        <div class="reponse" id="reponse13">
                            <p>Bonjour = Buenos días
                                Au revoir = Adiós <br>
                                Bonne journée = Que tenga un buen día  <br>
                                Merci = Gracias <br>
                                Oui/non = Si/No  <br>
                                S'il vous plait = Por favor <br>
                                Excusez-moi = Discúlpame <br>
                                Est-ce que vous parlez français ? = ¿Habla francés ? <br>
                                Je voudrais commander un taxi = Me gustaria pedir un taxi <br>
                                L'addition s'il vous plait = La cuenta por favor <br>
                                Combien ça coûte ? = ¿Cuanto cuesta ?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    
  </main>

  <script src="../static/js/thailande.js"></script>

</body>
</html>