
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Destination - Grèce</title>
  <link rel="stylesheet" href="../static/css/thailande.css"></head>
<body>
    <header class="header">
        <nav>
          <ul>
            <li>
              <a href="#voyager-grèce">Voyager en Grèce</a>
            </li>
            <li>
              <a href="#nos-voyages">Nos Voyages</a>
            </li>
            <li>
              <a href="#nos-sejours">Nos Séjours</a>
            </li>
            <li>
              <a href="#guide-pratique">Guide pratique</a>
            </li>
          </ul>
        </nav>
      </header>


  <main>

    <section id="carousel" class="carousel">
      <section class="destination-title">
        <h1  class="main-title">Grèce</h1>
        <div class="title-underline"></div>
        <p class="subtitle">odyssée en Méditerranée</p>
      </section>
      <div id="voyager-grèce" class="slide active"><img src="../static/img/Grece/1ere partie image 1.jpg" alt="\&quot;Image"></div>
      <div class="slide"><img src="../static/img/Grece/1ere partie image 2.jpg" alt="Image 2"></div>
      <div class="slide"><img src="../static/img/Grece/1ere partie image 3.jpg" alt="Image 3"></div>
      <div class="slide"><img src="../static/img/Grece/1ere partie image 4.jpg" alt="Image 4"></div>
      <div class="slide"><img src="../static/img/Grece/1ere partie image 5.jpg" alt="Image 5"></div>
      <div class="slide"><img src="../static/img/Grece/1ere partie image 6.jpg" alt="Image 6"></div>
      <div class="slide"><img src="../static/img/Grece/1ere partie image 7.jpg" alt="Image 7"></div>
      <div class="slide"><img src="../static/img/Grece/1ere partie image 8.jpg" alt="Image 8"></div>
      <div class="controls">
        <span class="control" data-slide="0">01</span> <span class="control" data-slide="1">02</span> <span class="control" data-slide="2">03</span> <span class="control" data-slide="3">04</span> <span class="control" data-slide="4">05</span> <span class="control" data-slide="5">06</span> <span class="control" data-slide="6">07</span> <span class="control" data-slide="7">08</span>
      </div>
    </section>
    <br>
    

    <section class="main-layout">
        <div class="description">
            <h2>Grèce</h2>
            <p>
                Au cœur des mers azurées de la Méditerranée, se niche un joyau envoûtant : la Grèce. Berceau de légendes et de mythologie intemporelles, elle séduit les voyageurs épicuriens. Avec ses criques baignées de soleil, ses villages pittoresques, ses sites archéologiques grandioses, son art de vivre et sa gastronomie savoureuse, cette destination est une invitation au plaisir, un voyage en terre divine.
            </p>
        </div>
        <div class="info-cards-small">
            <div class="card">
                <img src="../static/img/Grece/monnaie icone.jpg" alt="Monnaie Icon">
                <h3>Monnaie</h3>
                <p>Euro (EUR)</p>
            </div>
            <div class="card">
                <img src="../static/img/Grece/avion icone.png" alt="Temps de vol Icon">
                <h3>Temps de vol</h3>
                <p>1h</p>
            </div>
            <div class="card">
                <img src="../static/img/Grece/decalage icone.png " alt="Décalage horaire Icon">
                <h3>Décalage horaire</h3>
                <p>Aucun</p>
            </div>
        </div>
    </section>

    
    <section class="why-thailand">
      <h2>Pourquoi partir en Grèce ?</h2>
      <p>Les conseils de nos Travel Designers</p>
      <div class="features">
        <div class="feature">
          <img src="../static/img/Grece/icone.PNG" alt="Beach icon">
          <p>Entre Grèce antique et paysages fascinants             </p>
        </div>
        <div class="feature">
          <img src="../static/img/Grece/icone.PNG" alt="Food icon">
          <p>Une invitation à découvrir les coutumes locales</p>
        </div>
        <div class="feature">
          <img src="../static/img/Grece/icone.PNG" alt="Temple icon">
          <p>Voguer à travers les îles paradisiaques</p>
        </div>
        <div class="feature">
          <img src="../static/img/Grece/icone.PNG" alt="Ceremony icon">
          <p>Un voyage intergénérationnel</p>
        </div>
      </div>
    </section>


    <section class="experience-section">
      <div class="text">
        <h2>Destination divine </h2>
        <h3> Beauté intemporelle</h3>
        <p>
             La Grèce, c'est une histoire d'amour entre les hommes et les dieux, entre la montagne et la mer, mais aussi entre le calme et la fête. À la croisée de l’Orient et de l’Occident, cette destination est une terre de paradoxes fascinante. Des plages ensoleillées de la côte Apollon aux monastères perchés de la Macédoine, en passant par les mythiques îles des Cyclades, chaque kilomètre parcouru est un délice pour les amoureux d'histoire et de nature. Sur un bateau entre deux îles, à l’ombre d’une terrasse, ou sur les traces d’une légende antique, initiez-vous à l’art de vivre… à la grecque.        </p>
      </div><img src="../static/img/Grece/2eme partie image 1.jpg" >
    </section>


    <section class="experience-section">
      <img src="../static/img/Grece/2eme partie image 2.jpg" >
      <div class="text">
        <h2>Fenêtre sur le paradis</h2>
        <h3>La Grèce en mode luxe</h3>
        <p>
             Plongez dans l’âme de la Grèce à travers un voyage sur mesure, hors des circuits traditionnels. Partez à la découverte des trésors de la Grèce continentale ou montez à bord d’un bateau privé à la recherche des spots les plus secrets des Cyclades. Croisières, farniente, escales, balades et dégustations… Les plaisirs authentiques de la Méditerranée s’offrent à vous. Eluxtravel déniche des pépites intimistes et vous propose des adresses où le luxe se fond discrètement dans la nature, où la cuisine sent bon l’huile d’olive et où le panorama est un tableau que vous ne voudrez plus quitter des yeux</p>
      </div>
    </section>


    <section class="experience-section">
      <div class="text">
        <h2>Émotions profondes </h2>
        <h3>    Souvenirs privilégiés</h3>
        <p>  
             Amateurs de saveurs méditerranéennes, partez en voyage culinaire sur l’île de Santorin, où un chef vous attend pour un cours de cuisine particulier et où Bacchus vous initie au nectar de ses vignobles. Profitez des connaissances d’un guide privé qui vous livre les secrets de la région crétoise de Lassithi, du confort d’une traversée de la mer Égée à bord d’un yatch privatisé, ou d’une croisière dans les petites Cyclades au coucher du soleil. Explorez les trésors de la baie d’Argolis en kayak de mer et en paddle : une autre façon de découvrir les trésors de la côte du Péloponnèse.    
              </div><img src="../static/img/Grece/2eme partie image 3.jpg" alt="Expériences en Thaïlande">
    </section>


    <section class="experience-section">
      <img src="../static/img/Grece/2eme partie image 4.jpg" alt="La Thaïlande au-delà du rêve">
      <div class="text">
        <h2> Dégradés de nature</h2>
        <h3>Camaïeu de couleurs </h3>
        <p>
             La Grèce est un pays où les paysages se mélangent pour former une toile de fond unique et inspirante. Optez pour une randonnée dans les forêts et les montagnes du Pinde ou du Péloponnèse, avec ses villages traditionnels et ses panoramas à couper le souffle. Profitez aussi de plages magnifiques dont le sable contraste avec les eaux cristallines de la mer Égée. Si les côtes sont souvent empreintes de douceur, elles laissent parfois place à des falaises rocailleuses, comme à la péninsule du Magne ou à Santorin, dont les terres volcaniques et le sable noir tranchent avec les habitations blanches et bleues.       </div>
    </section>

    <section class="experience-section">
        <div class="text">
          <h2> L’art de vivre à la Grecque </h2>
          <h3> Douceur et Méditerranée </h3>
          <p>
                Reflet de l’art de vivre méditerranéen, la culture grecque se veut à la fois douce, festive et empreinte de son fabuleux passé. Savourez-la en goûtant à sa cuisine ensoleillée, à ses vins frais et à ses produits de la mer fraichement pêchés. Vivez-la au travers de ses festivals et célébrations traditionnelles. Comprenez-la en vous intéressant aux arts et à la littérature qui font partie de son ADN depuis la lointaine antiquité. Admirez-la en vous plongeant dans les détails de son architecture atypique, de ses vestiges archéologiques et de son artisanat ancestral.     
               </div><img src="../static/img/Grece/2eme partie image 5.jpg" alt="Expériences en Thaïlande">
      </section>


      <section id="nos-voyages" class="coups-de-coeur">
        <h2>Nos coups de cœur</h2>
        <div class="cards-container">
            <div class="card">
                <img src="../static/img/Grece/3eme partie image 1.gif" alt="Domes Zeen Chania">
                <h3>GRÈCE - CRÈTE</h3>
                <h4>Domes Zeen Chania</h4>
                <p>Envolez-vous pour la Crète, au carrefour de civilisations anciennes et de légendes mythologiques. Au nord-ouest de l’île, la ville...</p>
                <a href="/reservation">Réservez ></a>
            </div>
            <div class="card">
                <img src="../static/img/Grece/3eme partie image 2.jpg" alt="Les Cyclades autrement">
                <h3>GRÈCE - CYCLADES</h3>
                <h4>Les Cyclades autrement</h4>
                <p>Prenez de la hauteur et abordez avec majesté les îles les plus secrètes des Cyclades ! Ce circuit exclusif vous propose des transferts...</p>
                <a href="/reservation">Réservez ></a>
            </div>
            <div class="card">
                <img src="../static/img/Grece/3eme partie image 3.png" alt="Amanzoe">
                <h3>GRÈCE - PÉLOPONNÈSE</h3>
                <h4>Amanzoe</h4>
                <p>Au royaume de la Grèce antique, d’un coup d’hélicoptère ou de voiture, rejoignez les splendeurs d’Amanzoe, véritable acropole de...</p>
                <a href="/reservation">Réservez ></a>
            </div>
            <div class="card">
                <img src="../static/img/Grece/3eme partie image 4.jpg" alt="Danai">
                <h3>GRÈCE - THESSALONIQUE</h3>
                <h4>Danai</h4>
                <p>Dans des jardins luxuriants, face au spectacle incessant de la Méditerranée, vivez un moment d’exception, à la découverte des merveilles de...</p>
                <a href="/reservation">Réservez ></a>
            </div>
        </div>
    </section>
    
    


    <section id="nos-sejours" class="sejours-section">
        <h2>Nos Séjours | Grèce</h2><br>
        <div class="sejours-cards">
            <div class="card">
                <img src="../static/img/Grece/4eme partie image 1.jpg" alt="Anantara Rasananda">
                <p class="location">GRÈCE - PÉLOPONNÈSE</p> <br>
                <h3>Euphoria Retreat</h3> <br>
                <a class="category" href="/hotel_Grece">HÔTEL ></a>
            </div>
            <div class="card">
                <img src="../static/img/Grece/4eme partie image 2.jpg" alt="Anantara Koh Yao">
                <p class="location">GRÈCE - PÉLOPONNÈSE</p> <br>
                <h3>W Coste Navarino</h3> <br>
                <a class="category" href="/hotel_Grece">HÔTEL ></a>
            </div>
            <div class="card">
                <img src="../static/img/Grece/4eme partie image 3.jpg" alt="Mandarin Oriental">
                <p class="location">GRÈCE - CRÈTE</p> <br>
                <h3>Daios Cove</h3> <br>
                <a class="category" href="/hotel_Grece">HÔTEL ></a>
            </div>
            <div class="card">
                <img src="../static/img/Grece/4eme partie image 4.jpg" alt="Six Senses Koh Samui">
                <p class="location">GRÈCE - THESSALONQUE</p><br>
                <h3>Sani Club</h3> <br>
                <a class="category" href="/hotel_Grece">HÔTEL ></a>
            </div>
        </div>
    </section>

    <div id="guide-pratique"  class="guide-pratique-container">
        <h2>Guide pratique</h2>
        <p>Tous nos conseils pour bien préparer votre départ</p>
    
        <div class="guide-pratique-content">
    
            <!-- Section Informations Générales -->
            <div class="guide-pratique-column">
                <h3 onclick="toggleSection('info-gen')">Informations générales &#9662;</h3>
                <div id="info-gen" class="hidden-section">
                    <div class="question" onclick="toggleReponse('reponse1')">
                        <h4>Monnaie</h4>
                        <div class="reponse" id="reponse1">
                            <p>La monnaie est l'Euro.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse2')">
                        <h4>Décalage horaire</h4>
                        <div class="reponse" id="reponse2">
                        <p>Il faut compter 1 heure de plus.
                            </p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse3')">
                        <h4>Langue</h4>
                        <div class="reponse" id="reponse3">
                            <p>La langue officielle est le grec moderne.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse4')">
                        <h4>Électricité</h4>
                        <div class="reponse" id="reponse4">
                            <p>Les Grecs disposent des mêmes prises qu’en France.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse5')">
                        <h4>Téléphone</h4>
                        <div class="reponse" id="reponse5">
                            <p>
                                Pour appeler la Grèce depuis la France, composer le 00 30 puis le numéro de votre correspondant (sans le 0 initial).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    

            <!-- Section Formalités -->
            <div class="guide-pratique-column">
                <h3 onclick="toggleSection('formalites')">Formalités &#9662;</h3>
                <div id="formalites" class="hidden-section">
                    <div class="question" onclick="toggleReponse('reponse6')">
                        <h4>Visa</h4>
                        <div class="reponse" id="reponse6">
                            <p>Un voyage en Espagne ne nécessite pas de visa.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse7')">
                        <h4>Passeport</h4>
                        <div class="reponse" id="reponse7">
                            <p>Il vous faudra une carte nationale d’identité ou un passeport en cours de validité. </p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse8')">
                        <h4>Santé</h4>
                        <div class="reponse" id="reponse8">
                            <p>Aucun vaccin n'est obligatoire.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse9')">
                        <h4>Lien utils</h4>
                        <div class="reponse" id="reponse9">
                            <p>
                                Numéro d'urgence européen : 112 <br>
                                Police : 100 <br>
                                Pompiers : 199 <br>
                                
                                Ambassade de France en Grèce : 
                                7 avenue Vasilisis Sofias, 106 71 Athènes - Grèce
                                +30 210 33 91 000
                                
                                </p>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Section Avant de Partir -->
            <div class="guide-pratique-column">
                <h3 onclick="toggleSection('avant-partir')">Avant de partir &#9662;</h3>
                <div id="avant-partir" class="hidden-section">
                    <div class="question" onclick="toggleReponse('reponse10')">
                        <h4>Recommandations de voyage</h4>
                        <div class="reponse" id="reponse10">
                            <p>Nous vous recommandons d’emporter avec vous une photocopie de vos documents (passeport, permis de conduire…).  <br>

                                Nous vous recommandons également d’avoir en votre possession une carte européenne d’assurance maladie (CEAM), nominative et individuelle, donne droit à une prise en charge médicale</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse11')">
                        <h4>Dans sa valise </h4>
                        <div class="reponse" id="reponse11">
                            <p>Prévoyez des vêtements légers et d’autres un peu plus couvrants pour les soirées plus fraîches ou les visites de sites historiques ou religieux. Des chaussures de marche sont également à prévoir lors de vos visites. </p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse12')">
                        <h4>Savoir-vivre et tips</h4>
                        <div class="reponse" id="reponse12">
                            <p>Explorez les îles grecques aux plages sublimes et à l'atmosphère enchanteresse, visitez les sites antiques légendaires qui témoignent de la grandeur passée de la Grèce, et régalez-vous de la délicieuse cuisine méditerranéenne. Les plages immaculées et les eaux cristallines vous invitent à la détente, tandis que les villages pittoresques et les monastères perchés des Meteores vous offrent un aperçu de la culture et de la spiritualité grecques. </p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse13')">
                        <h4>Quelques mots</h4>
                        <div class="reponse" id="reponse13">
                            <p>Bonjour = Kaliméra <br>
                                Au revoir = Antío <br>
                                Bonne journée = Kalí méra <br>
                                Merci = Eucharisto <br>
                                Oui/non = nai/óchi <br>
                                S’il vous plait = Sas parakaloúme <br>
                                Excusez-moi  = Me synchoreís <br>
                                Est-ce que vous parlez français ? = Milás galliká ? <br>
                                Je voudrais commander un taxi = Tha íthela na parangeílo éna taxí <br>
                                L’addition s’il vous plait = To logariasmó, parakaló <br>
                                Combien ça coûte ? = Póso kostízei ?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    
  </main>

  <script src="../static/js/thailande.js"></script>

</body>
</html>