<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nos hôtels _ Grèce</title>
  <link rel="stylesheet" href="../static/css/hotel.css">
  <link rel="shortcut icon" href="../static/img/travel/icone travel.png">
</head>
<body>
  
   <section id="carousel" class="carousel">

  <!-- Vidéo de fond -->
  <video id="accueil" class="video-background" autoplay muted loop>
    <source src="../static/img/Grece_hotel/hotal_video.mp4" type="video/mp4">
    Votre navigateur ne supporte pas les vidéos HTML5.
  </video>

  <!-- Barre de navigation -->
  <nav id="bottom-nav">
    <ul>
      <li><a href="#accueil">Nos hôtels</a></li>
      <li><a href="/grece.#nos-sejours">Nos séjours</a></li>
      <li><a href="/travel">Où partir</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  </section>

  <!-- Section Hôtel -->
  <div class="hotel-section">
    <div class="hotel-info">
      <h2>EUROPE - GRÈCE - PÉLOPONNÈSE</h2>
      <h1>W Costa Navarino</h1>
      <div class="hotel-details">
        <div class="hotel-detail-item">
          <div class="icon-container">
            <img src="../static/img/Grece_hotel/1ere partie image 1.PNG" alt="Icône Meilleures périodes">
          </div>
          <div class="detail-text">
            <span class="detail-title">Meilleures périodes</span>
            <p class="detail-description">D’avril à novembre</p>
          </div>
        </div>
        <div class="hotel-detail-item">
          <div class="icon-container">
            <img src="../static/img/Grece_hotel/1ere partie image 2.PNG" alt="Icône Aéroport">
          </div>
          <div class="detail-text">
            <span class="detail-title">Aéroport</span>
            <p class="detail-description">Kalamata</p>
          </div>
        </div>
        <div class="hotel-detail-item">
          <div class="icon-container">
            <img src="../static/img/Grece_hotel/1ere partie image 3.PNG" alt="Icône Transfert">
          </div>
          <div class="detail-text">
            <span class="detail-title">Transfert</span>
            <p class="detail-description">45 minutes en voiture</p>
          </div>
        </div>
      </div>

      <div class="detail-text">
        <span class="detail-title"></span>
              <p class="hotel-description">
        Le W Costa Navarino réinvente le concept du luxe aux abords de la majestueuse baie de Navarino. Notre agence vous présente treize hectares au cadre exceptionnel, sur lesquels se dessinent deux cent quarante-six cocons de charme, et des piscines à débordement privées. W Costa Navarino vous surprend tous les jours avec des recettes emblématiques et revisitées de la cuisine méditerranéenne, ainsi que des expériences sur-mesure entre terre et mer.    
        
      </div>

        
        <div class="map-box">
          <a href="#" id="view-map">
            <img src="../static/img/Grece_hotel/1ere partie image 5.PNG" alt="Icône de localisation">
            Voir la carte
          </a>
        </div>
      
        <div class="map-overlay" id="map-overlay"></div>
        <div class="map-container" id="map-container">
          <button class="close-btn" id="close-map">×</button>
          <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d114540.78486015543!2d21.620904906920288!3d36.940975622220215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d36.9388195!2d21.7126222!4m5!1s0x1361736af87810a1%3A0x8d171516b94f659c!2sPylos-Nestor%20240%2001%2C%20Gr%C3%A8ce!3m2!1d36.9388198!2d21.7124295!5e0!3m2!1sfr!2sfr!4v1736412198167!5m2!1sfr!2sfr"
              allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>

    <div class="hotel-booking">
      <h3>Votre Séjour</h3>
      <p class="price-info">
        Le prix indiqué ci-dessous est à titre informatif. Les prix dépendent de différents facteurs. Le prix final de votre séjour sera celui proposé par nos Travel Designers sur votre devis personnalisé. 
      </p>
      <div class="special-offer">
        <h4>Offre Spéciale</h4>
        <p>Bénéficiez jusqu’à 10% de remise sur votre séjour</p>
      </div>
      <div class="budget">
        <p><strong>Budget</strong></p>
        <ul>
          <li><img src="../static/img/Grece_hotel/1ere partie image 4.PNG" alt="">7 nuits de 2 010€ à 3 170€ par personne</li>
          <li><img src="../static/img/Grece_hotel/1ere partie image 4.PNG" alt="">Vols et transferts inclus</li>
        </ul>
        <p><a href="#">Voir ce que le prix comprend</a></p>
        <ul>
          <li>7 nuits en Wonderful Bay Guest Room</li>
          <li>Les petits-déjeuners</li> 
          <li> Vols internationaux en classe économique </li> 
          <li> Transferts privés </li>    
        </ul>
      </div>
      <button class="book-now">Créons votre voyage</button>
      <div class="contact-info">
        <p>Besoin d’un conseil ?</p>
        <p>Nos Travel Designers sont à votre écoute par téléphone...</p>
        <p><strong>01 45 04 21 21</strong></p>
      </div>
    </div>
  </div>

  <div class="hotel-section">
  <div class="rooms-section">
    <h2>Nos Chambres</h2>
    <p>W Costa Navarino mêle dans le design de ses deux cent quarante-six chambres et suites, des lignes modernes et traits caractéristiques de l'architecture locale. Dans un cocon lumineux, d'une, deux ou trois chambres, des matériaux naturels tels que la pierre, le bois ou le roseau, côtoient une sélection d'œuvres d'art et un mobilier de luxe. Connectez-vous à l'environnement exceptionnel qui vous entoure, de la baie aux jardins de l'hôtel, grâce à un vaste espace extérieur privé.</p>
    <div class="rooms-grid">
      <div class="room-card">
        <img src="../static/img/Grece_hotel/2eme partie image 1.jpg" alt="Infinity Swim-up Room">
        <h3> Infinity Swim-up Room</h3>
        <p>Superficie : 40 m²</p>
        <p>Capacité : 2 adultes</p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
      <div class="room-card">
        <img src="../static/img/Grece_hotel/2eme partie image 2.jpg" alt="Bay Guest Room">
        <h3> Bay Guest Room</h3>
        <p>Superficie : 40 m²</p>
        <p>Capacité : 2 adultes</p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
      <div class="room-card">
        <img src="../static/img/Grece_hotel/2eme partie image 3.jpg" alt="Spectacular Panorama Room">
        <h3>Spectacular Panorama Room</h3>
        <p>Superficie : 40 m²</p>
        <p>Capacité : 2 adultes</p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
      <div class="room-card">
        <img src="../static/img/Grece_hotel/2eme partie image 4.jpg" alt="Beachfront Pool Villa">
        <h3>Beachfront Pool Villa</h3>
        <p>Superficie : 127 m²</p>
        <p>Capacité : 5 adultes</p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
      <div class="room-card">
        <img src="../static/img/Grece_hotel/2eme partie image 5.jpg" alt="Fabulous Infinity Swim-up Room">
        <h3>Garden Pool Villa</h3>
        <p>Superficie : 127 m²</p>
        <p>Capacité : 5 adultes</p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
      
      <div class="room-card">
        <img src="../static/img/Grece_hotel/2eme partie image 6.jpg" alt="Fabulous Infinity Swim-up Room">
        <h3>Bayfront Rooftop Garden Suites </h3>
        <p>Superficie : 100 m²</p>
        <p>Capacité : 4 adultes</p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
    </div>
  </div>
  </div>
  

  <script>
        const viewMapLink = document.getElementById('view-map');
        const mapContainer = document.getElementById('map-container');
        const mapOverlay = document.getElementById('map-overlay');
        const closeMapBtn = document.getElementById('close-map');

        // Ouvrir la carte
        viewMapLink.addEventListener('click', (e) => {
            e.preventDefault();
            mapContainer.style.display = 'block';
            mapOverlay.style.display = 'block';
        });

        // Fermer la carte
        closeMapBtn.addEventListener('click', () => {
            mapContainer.style.display = 'none';
            mapOverlay.style.display = 'none';
        });

        // Fermer la carte en cliquant sur l'overlay
        mapOverlay.addEventListener('click', () => {
            mapContainer.style.display = 'none';
            mapOverlay.style.display = 'none';
        });
    // Script pour garder la navigation en bas
    const bottomNav = document.getElementById("bottom-nav");
    window.addEventListener("scroll", () => {
      bottomNav.style.bottom = "0"; // Fixe la barre au bas de l'écran
    });
  </script>

</body>
</html>
