<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nos hôtels _ Espagne</title>
  <link rel="stylesheet" href="../static/css/hotel.css">
  <link rel="shortcut icon" href="../static/img/travel/icone travel.png">
</head>
<body>
  
   <section id="carousel" class="carousel">

  <!-- Vidéo de fond -->
  <video id="accueil" class="video-background" autoplay muted loop>
    <source src="../static/img/Espagne_hotel/hotel-Espagne.mp4" type="video/mp4">
    Votre navigateur ne supporte pas les vidéos HTML5.
  </video>

  <!-- Barre de navigation -->
  <nav id="bottom-nav">
    <ul>
      <li><a href="#rooms-section">Nos hôtels</a></li>
      <li><a href="/Espagne">Nos séjours</a></li>
      <li><a href="/travel">Où partir</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  </section>

  <!-- Section Hôtel -->
  <div class="hotel-section">
    <div class="hotel-info">
      <h2>Europe - Espagne - Îles Canaries</h2>
      <h1>The Ritz-Carlton, Abama</h1>
      <div class="hotel-details">
        <div class="hotel-detail-item">
          <div class="icon-container">
            <img src="../static/img/Espagne_hotel/1ere partie image 1.PNG" alt="Icône Meilleures périodes">
          </div>
          <div class="detail-text">
            <span class="detail-title">Meilleures périodes</span>
            <p class="detail-description">Mai à Novembre </p>
          </div>
        </div>
        <div class="hotel-detail-item">
          <div class="icon-container">
            <img src="../static/img/Espagne_hotel/1ere partie image 2.PNG" alt="Icône Aéroport">
          </div>
          <div class="detail-text">
            <span class="detail-title">Aéroport</span>
            <p class="detail-description">Ténérife Sud </p>
          </div>
        </div>
        <div class="hotel-detail-item">
          <div class="icon-container">
            <img src="../static/img/Espagne_hotel/1ere partie image 3.PNG" alt="Icône Transfert">
          </div>
          <div class="detail-text">
            <span class="detail-title">Transfert</span>
            <p class="detail-description">25 minutes en voiture</p>
          </div>
        </div>
      </div>

      <div class="detail-text">
        <span class="detail-title"></span>
              <p class="hotel-description">
                Dans un jardin luxuriant bordé par l’océan Atlantique, le Ritz-Carlton, Abama étend son élégante architecture d’inspiration mauresque. L’un des plus beaux hôtels des Canaries peut s’enorgueillir de posséder des suites et villas somptueuses, mais également sept piscines, dix espaces de restauration dont deux adresses d’exception étoilées au Michelin, un spa cinq étoiles, et enfin, un terrain de golf parmi les plus réputés d’Espagne.        
      </div>

        
        <div class="map-box">
          <a href="#" id="view-map">
            <img src="../static/img/Espagne_hotel/1ere partie image 5.PNG" alt="Icône de localisation">
            Voir la carte
          </a>
        </div>
      
        <div class="map-overlay" id="map-overlay"></div>
        <div class="map-container" id="map-container">
          <button class="close-btn" id="close-map">×</button>
          <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d283823.45215318544!2d-17.13331117268869!3d28.08991480806009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0xc6a8e0128e70a67%3A0xd047a8f15aa9729f!2sCalle%20Mar%C3%ADa%20Zambrano%202%2C%20Carretera%20General%2C%20TF-47%2C%20Km%209%2C%2038687%2C%20Santa%20Cruz%20de%20Tenerife%2C%20Espagne!3m2!1d28.171849899999998!2d-16.7993985!5e0!3m2!1sfr!2sfr!4v1736526463307!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>          </iframe>
        </div>
      </div>

    <div class="hotel-booking">
      <h3>Votre Séjour</h3>
      <p class="price-info">
        Le prix indiqué ci-dessous est à titre informatif. Les prix dépendent de différents facteurs. Le prix final de votre séjour sera celui proposé par nos Travel Designers sur votre devis personnalisé. 
      </p>
      <div class="special-offer">
        <h4>Offre Spéciale</h4>
        <p>Bénéficiez jusqu’à 10% de remise sur votre séjour</p>
      </div>
      <div class="budget">
        <p><strong>Budget</strong></p>
        <ul>
          <li><img src="../static/img/Espagne_hotel/1ere partie image 4.PNG" alt="">7 nuits de  1 250€ à 1 430€ par personne</li>
          <li><img src="../static/img/Espagne_hotel/1ere partie image 4.PNG" alt="">Vols et transferts inclus</li>
        </ul>
        <p><a href="#">Voir ce que le prix comprend</a></p>
        <ul>
          <li>7 nuits en Deluxe Room Resort</lisdW>
          <li>Les petits-déjeuners</li> 
          <li> Vols internationaux  </li> 
          <li> Transferts privés </li>    
        </ul>
      </div>
      <button class="book-now">Créons votre voyage</button>
      <div class="contact-info">
        <p>Besoin d’un conseil ?</p>
        <p>Nos Travel Designers sont à votre écoute par téléphone...</p>
        <p><strong>01 45 04 21 21</strong></p>
      </div>
    </div>
  </div>

  <div class="hotel-section">
  <div id="rooms-section" class="rooms-section">
    <h2>Nos Chambres</h2>
    <p>Les chambres, suites et villas de l’hôtel Ritz-Carlton, Abama bénéficient toutes d’un environnement spacieux, ainsi que d’une décoration moderne et chaleureuse. Offrant une vue splendide sur l’océan ou sur les bâtiments rouge ocre du complexe, vous savourerez ici un séjour en toute quiétude, dans l’un des plus beaux établissements hôteliers de l’île. En couple ou en famille, une attention toute particulière sera portée sur la réussite de votre séjour, dans un cadre à la fois nature et luxueux.</p>
    <div class="rooms-grid">
      <div class="room-card">
        <img src="../static/img/Espagne_hotel/2eme partie image 1.jpg" alt="Infinity Swim-up Room">
        <h3> Citadel Deluxe Room </h3>
        <p>Superficie : 50 m²</p>
        <p>Capacité : 2 adultes + 1 enfant</p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
      <div class="room-card">
        <img src="../static/img/Espagne_hotel/2eme partie image 2.jpg" alt="Bay Guest Room">
        <h3> Citadel Junior Suite </h3>
        <p>Superficie : 60 m²</p>
        <p>Capacité : 2 adultes + 2enfants</p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
      <div class="room-card">
        <img src="../static/img/Espagne_hotel/2eme partie image 3.jpg" alt="Spectacular Panorama Room">
        <h3>Spectacular Panorama Room</h3>
        <p>Superficie : 40 m²</p>
        <p>Capacité : 2 adultes</p>
        <!-- <p class="center-link"><a href="/reservation">réservez</a></p> -->
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
      <div class="room-card">
        <img src="../static/img/Espagne_hotel/2eme partie image 4.jpg" alt="Beachfront Pool Villa">
        <h3>Villa One Bedroom Suite</h3>
        <p>Superficie : 80 m²</p>
        <p>Capacité : 2 adultes + 3enfants</p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
      <div class="room-card">
        <img src="../static/img/Espagne_hotel/2eme partie image 5.jpg" alt="Fabulous Infinity Swim-up Room">
        <h3>Villa Two Bedroom Suite</h3>
        <p>Superficie : 140 m²</p>
        <p>Capacité : 6 adultes</p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
      
      <div class="room-card">
        <img src="../static/img/Espagne_hotel/2eme partie image 6.jpg" alt="Fabulous Infinity Swim-up Room">
        <h3> The Ritz-Carlton Suite </h3>
        <p>Superficie : 240 m²</p>
        <p>Capacité : 4 adultes + 2 enfants </p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
    </div>
  </div>
  </div>
  

  <script>
        const viewMapLink = document.getElementById('view-map');
        const mapContainer = document.getElementById('map-container');
        const mapOverlay = document.getElementById('map-overlay');
        const closeMapBtn = document.getElementById('close-map');

        // Ouvrir la carte
        viewMapLink.addEventListener('click', (e) => {
            e.preventDefault();
            mapContainer.style.display = 'block';
            mapOverlay.style.display = 'block';
        });

        // Fermer la carte
        closeMapBtn.addEventListener('click', () => {
            mapContainer.style.display = 'none';
            mapOverlay.style.display = 'none';
        });

        // Fermer la carte en cliquant sur l'overlay
        mapOverlay.addEventListener('click', () => {
            mapContainer.style.display = 'none';
            mapOverlay.style.display = 'none';
        });
    // Script pour garder la navigation en bas
    const bottomNav = document.getElementById("bottom-nav");
    window.addEventListener("scroll", () => {
      bottomNav.style.bottom = "0"; // Fixe la barre au bas de l'écran
    });
  </script>

</body>
</html>
