<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nos hôtels _ Suisse</title>
  <link rel="stylesheet" href="../static/css/hotel.css">
  <link rel="shortcut icon" href="../static/img/travel/icone travel.png">
</head>
<body>
  
   <section id="carousel" class="carousel">

  <!-- Vidéo de fond -->
  <video id="accueil" class="video-background" autoplay muted loop>
    <source src="../static/img/Suisse_hotel/suisse video.mp4" type="video/mp4">
    Votre navigateur ne supporte pas les vidéos HTML5.
  </video>

  <!-- Barre de navigation -->
  <nav id="bottom-nav">
    <ul>
      <li><a href="#accueil">Nos hôtels</a></li>
      <li><a href="/Suisse#nos-sejours">Nos séjours</a></li>
      <li><a href="/travel">Où partir</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  </section>

  <!-- Section Hôtel -->
  <div class="hotel-section">
    <div class="hotel-info">
      <h2>Europe - Suisse - Gstaad</h2>
      <h1>Le Grand Bellevue</h1>
      <div class="hotel-details">
        <div class="hotel-detail-item">
          <div class="icon-container">
            <img src="../static/img/Suisse_hotel/1ere partie image 1.PNG" alt="Icône Meilleures périodes">
          </div>
          <div class="detail-text">
            <span class="detail-title">Meilleures périodes</span>
            <p class="detail-description">De Juillet à Octobre </p>
          </div>
        </div>
        <div class="hotel-detail-item">
          <div class="icon-container">
            <img src="../static/img/Suisse_hotel/1ere partie image 2.PNG" alt="Icône Aéroport">
          </div>
          <div class="detail-text">
            <span class="detail-title">Aéroport</span>
            <p class="detail-description">Aéroport de Berne </p>
          </div>
        </div>
        <div class="hotel-detail-item">
          <div class="icon-container">
            <img src="../static/img/Suisse_hotel/1ere partie image 3.PNG" alt="Icône Transfert">
          </div>
          <div class="detail-text">
            <span class="detail-title">Transfert</span>
            <p class="detail-description"> 1h en voiture </p>
          </div>
        </div>
      </div>

      <div class="detail-text">
        <span class="detail-title"></span>
              <p class="hotel-description">
                Ancré dans un écrin de verdure, à quelques pas de la célèbre promenade de Gstaad, le Grand Bellevue en impose par sa majesté et sa beauté, face aux montagnes. Cette luxueuse adresse plus que centenaire accueille ses hôtes avec élégance, discrétion et raffinement, en droite ligne des grandes maisons d’autrefois où service et excellence primaient avant tout. Dans un décor contemporain et feutré, 48 chambres et 9 suites composent un écrin velouté, aux côtés d’une restauration de haute volée, bistronomique, suisse ou asiatique et surtout d’un centre de bien-être dont la réputation n’est plus à faire. Au cœur de ce havre de paix, la détente et le dépaysement sont à leur apogée.        
      </div>

        
        <div class="map-box">
          <a href="#" id="view-map">
            <img src="../static/img/Suisse_hotel/1ere partie image 5.PNG" alt="Icône de localisation">
            Voir la carte
          </a>
        </div>
      
        <div class="map-overlay" id="map-overlay"></div>
        <div class="map-container" id="map-container">
          <button class="close-btn" id="close-map">×</button>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21980.177616495388!2d7.245193719863878!3d46.477971316291715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478ef1a789d2accd%3A0x3dd91f84544a8314!2sLe%20Grand%20Bellevue!5e0!3m2!1sfr!2sfr!4v1736439010577!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>              allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>

    <div class="hotel-booking">
      <h3>Votre Séjour</h3>
      <p class="price-info">
        Le prix indiqué ci-dessous est à titre informatif. Les prix dépendent de différents facteurs. Le prix final de votre séjour sera celui proposé par nos Travel Designers sur votre devis personnalisé. 
      </p>
      <div class="special-offer">
        <h4>Offre Spéciale</h4>
        <p>Bénéficiez jusqu’à 10% de remise sur votre séjour</p>
      </div>
      <div class="budget">
        <p><strong>Budget</strong></p>
        <ul>
          <li><img src="../static/img/Suisse_hotel/1ere partie image 4.PNG" alt=""> 7 nuits de 2 550 € à 4 245 € par personne</li>
          <li><img src="../static/img/Suisse_hotel/1ere partie image 4.PNG" alt="">Vols et transferts inclus</li>
        </ul>
        <p><a href="#">Voir ce que le prix comprend</a></p>
        <ul>
          <li> 7 nuits en Chambre Chic  </li>
          <li>Les petits-déjeuners</li> 
          <li> les vols  </li> 
          <li>Les transferts  </li>    
        </ul>
      </div>
      <button class="book-now">Créons votre voyage</button>
      <div class="contact-info">
        <p>Besoin d’un conseil ?</p>
        <p>Nos Travel Designers sont à votre écoute par téléphone...</p>
        <p><strong>01 45 04 21 21</strong></p>
      </div>
    </div>
  </div>

  <div class="hotel-section">
    <div class="rooms-section">
      <h2>Nos Chambres</h2>
      <p>Laissez-vous inspirer par ces espaces de vie luxueux et confortables, et dont le fil rouge reste l’élégance discrète. De style classique contemporain ou reflétant l’esprit de chalet avec poutres en bois apparentes, ces chambres et suites lumineuses déclinent sérénité et ravissement, face au superbe paysage de montagnes environnantes.</p>
      <div class="rooms-grid">
        <div class="room-card">
          <img src="../static/img/Suisse_hotel/2eme partie image 1.jpg" alt="Infinity Swim-up Room">
          <h3> Chambre Chic</h3>
          <p>Superficie : 40 m²</p>
          <p>Capacité : 2 adultes</p>
          <p class="center-link"><a href="/reservation">réservez</a></p>
        </div>
        <div class="room-card">
          <img src="../static/img/Espagne_hotel/2eme partie image 6.jpg" alt="Bay Guest Room">
          <h3> Chambre Deluxe Chic</h3>
          <p>Superficie : 58 m²</p>
          <p>Capacité : 3 adultes</p>
          <p class="center-link"><a href="/reservation">réservez</a></p>
        </div>
        <div class="room-card">
          <img src="../static/img/Suisse_hotel/2eme partie image 3.jpg" alt="Spectacular Panorama Room">
          <h3>Suite Tour</h3>
          <p>Superficie : 78 m²</p>
          <p>Capacité : 4 adultes</p>
          <p class="center-link"><a href="/reservation">réservez</a></p>
        </div>
        <div class="room-card">
          <img src="../static/img/Suisse_hotel/2eme partie image 4.jpg" alt="Beachfront Pool Villa">
          <h3>Beachfront Pool Villa</h3>
          <p>Superficie : 127 m²</p>
          <p>Capacité : 5 adultes</p>
          <p class="center-link"><a href="/reservation">réservez</a></p>
        </div>
        <div class="room-card">
          <img src="../static/img/Suisse_hotel/2eme partie image 5.jpg" alt="Fabulous Infinity Swim-up Room">
          <h3>Suite Chalet</h3>
          <p>Superficie : 127 m²</p>
          <p>Capacité : 5 adultes</p>
          <p class="center-link"><a href="/reservation">réservez</a></p>
        </div>
        
        <div class="room-card">
          <img src="../static/img/Suisse_hotel/2eme partie image 6.jpg" alt="Fabulous Infinity Swim-up Room">
          <h3>Suite Panorama </h3>
          <p>Superficie : 96 m²</p>
          <p>Capacité : 4 adultes</p>
          <p class="center-link"><a href="/reservation">réservez</a></p>
        </div>
      </div>
    </div>
    </div>
  

  <script>
        const viewMapLink = document.getElementById('view-map');
        const mapContainer = document.getElementById('map-container');
        const mapOverlay = document.getElementById('map-overlay');
        const closeMapBtn = document.getElementById('close-map');

        // Ouvrir la carte
        viewMapLink.addEventListener('click', (e) => {
            e.preventDefault();
            mapContainer.style.display = 'block';
            mapOverlay.style.display = 'block';
        });

        // Fermer la carte
        closeMapBtn.addEventListener('click', () => {
            mapContainer.style.display = 'none';
            mapOverlay.style.display = 'none';
        });

        // Fermer la carte en cliquant sur l'overlay
        mapOverlay.addEventListener('click', () => {
            mapContainer.style.display = 'none';
            mapOverlay.style.display = 'none';
        });
    // Script pour garder la navigation en bas
    const bottomNav = document.getElementById("bottom-nav");
    window.addEventListener("scroll", () => {
      bottomNav.style.bottom = "0"; // Fixe la barre au bas de l'écran
    });
  </script>

</body>
</html>
