<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nos hôtels _ Grèce</title>
  <link rel="stylesheet" href="../static/css/hotel.css">
  <link rel="shortcut icon" href="../static/img/travel/icone travel.png">
</head>
<body>
  
   <section id="carousel" class="carousel">

  <!-- Vidéo de fond -->
  <video id="accueil" class="video-background" autoplay muted loop>
    <source src="../static/img/Thailande_hotel/video thailande.mp4" type="video/mp4">
    Votre navigateur ne supporte pas les vidéos HTML5.
  </video>

  <!-- Barre de navigation -->
  <nav id="bottom-nav">
    <ul>
      <li><a href="#accueil">Nos hôtels</a></li>
      <li><a href="/thailande#nos-sejours">Nos séjours</a></li>
      <li><a href="/travel">Où partir</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  </section>

  <!-- Section Hôtel -->
  <div class="hotel-section">
    <div class="hotel-info">
      <h2>Asie - Thailande - Bangkok  </h2>
      <h1>Mandarin Oriental, Bangkok</h1>
      <div class="hotel-details">
        <div class="hotel-detail-item">
          <div class="icon-container">
            <img src="../static/img/Thailande_hotel/1ere partie image 1.PNG" alt="Icône Meilleures périodes">
          </div>
          <div class="detail-text">
            <span class="detail-title">Meilleures périodes</span>
            <p class="detail-description">Novembre à Mars</p>
          </div>
        </div>
        <div class="hotel-detail-item">
          <div class="icon-container">
            <img src="../static/img/Thailande_hotel/1ere partie image 2.PNG" alt="Icône Aéroport">
          </div>
          <div class="detail-text">
            <span class="detail-title">Aéroport</span>
            <p class="detail-description">Suvarnabhumi - Bangkok </p>
          </div>
        </div>
        <div class="hotel-detail-item">
          <div class="icon-container">
            <img src="../static/img/Thailande_hotel/1ere partie image 3.PNG" alt="Icône Transfert">
          </div>
          <div class="detail-text">
            <span class="detail-title">Transfert</span>
            <p class="detail-description">45 minutes en voiture</p>
          </div>
        </div>
      </div>

      <div class="detail-text">
        <span class="detail-title"></span>
              <p class="hotel-description">
                Au cœur de la vibrante ville de Bangkok, en Thaïlande, le Mandarin Oriental se distingue par son élégance et son luxe. Réparti dans trois bâtiments alliant tradition et modernité, cet hôtel authentique offre une expérience unique. Avec une impressionnante offre gastronomique, dont un restaurant étoilé au Guide Michelin, le Mandarin Oriental vous promet un séjour inoubliable, mêlant raffinement et authenticité. Exceptionnel, tout simplement.        
      </div>

      <div class="map-box">
        <a href="#" id="view-map">
          <img src="../static/img/Thailande_hotel/1ere partie image 5.PNG" alt="Icône de localisation">
          Voir la carte
        </a>
      </div>
      
        <div class="map-overlay" id="map-overlay"></div>
        <div class="map-container" id="map-container">
          <button class="close-btn" id="close-map">×</button>
          <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d124029.07743543586!2d100.43183925764765!3d13.723978943526921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x30e298c4c9a7a0b3%3A0xbb2ce336689cae5!2s48%20Oriental%20Ave%2C%20Bang%20Rak%2C%20Bangkok%2010500%2C%20Tha%C3%AFlande!3m2!1d13.723992599999999!2d100.51424109999999!5e0!3m2!1sfr!2sfr!4v1736615792528!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>              allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>

    <div class="hotel-booking">
      <h3>Votre Séjour</h3>
      <p class="price-info">
        Le prix indiqué ci-dessous est à titre informatif. Les prix dépendent de différents facteurs. Le prix final de votre séjour sera celui proposé par nos Travel Designers sur votre devis personnalisé. 
      </p>
      <div class="special-offer">
        <h4>Offre Spéciale</h4>
        <p>Bénéficiez jusqu’à 10% de remise sur votre séjour</p>
      </div>
      <div class="budget">
        <p><strong>Budget</strong></p>
        <ul>
          <li><img src="../static/img/Thailande_hotel/1ere partie image 4.PNG" alt=""> 3 nuits de 1 945 € à 2 540 € par personne</li>
          <li><img src="../static/img/Thailande_hotel/1ere partie image 4.PNG" alt="">Vols et transferts inclus</li>
        </ul>
        <p><a href="#">Voir ce que le prix comprend</a></p>
        <ul>
          <li>3 nuits en Deluxe Premier Room</li>
          <li>Les petits-déjeuners</li> 
          <li> Vols internationaux en classe économique </li> 
          <li> Transferts privés </li>    
        </ul>
      </div>
      <button class="book-now">Créons votre voyage</button>
      <div class="contact-info">
        <p>Besoin d’un conseil ?</p>
        <p>Nos Travel Designers sont à votre écoute par téléphone...</p>
        <p><strong>01 45 04 21 21</strong></p>
      </div>
    </div>
  </div>

  <div class="hotel-section">
  <div class="rooms-section">
    <h2>Nos Chambres</h2>
    <p>Le Mandarin Oriental propose 271 chambres et 60 suites réparties dans trois bâtiments : le Main Wing, le Garden Wing et l'Original Wing. Chaque chambre possède sa propre ambiance, dans un subtil mariage entre style contemporain et tradition thaïlandaise. Offrant des vues imprenables sur le fleuve Chao Phraya, où défilent les bateaux, ces havres de paix garantissent un confort exceptionnel. </p>
    <div class="rooms-grid">
      <div class="room-card">
        <img src="../static/img/Thailande_hotel/2eme partie image 1.jpg" alt="Infinity Swim-up Room">
        <h3> State Room</h3>
        <p>Superficie : 37 m²</p>
        <p>Capacité : 2 adultes</p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
      <div class="room-card">
        <img src="../static/img/Thailande_hotel/2eme partie image 2.jpg" alt="Bay Guest Room">
        <h3> Bay Guest Room</h3>
        <p>Superficie : 61 m²</p>
        <p>Capacité : 2 adultes + 1 enfant</p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
      <div class="room-card">
        <img src="../static/img/Thailande_hotel/2eme partie image 3.jpg" alt="Spectacular Panorama Room">
        <h3>Selandia Two Bedroom Suite</h3>
        <p>Superficie : 168 m²</p>
        <p>Capacité : 4 adultes + 1 enfant</p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
      <div class="room-card">
        <img src="../static/img/Thailande_hotel/2eme partie image 4.jpg" alt="Beachfront Pool Villa">
        <h3>Ambassador Two Bedroom Suite</h3>
        <p>Superficie : 173 m²</p>
        <p>Capacité : 4 adultes + 1 enfant</p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
      <div class="room-card">
        <img src="../static/img/Thailande_hotel/2eme partie image 5.jpg" alt="Fabulous Infinity Swim-up Room">
        <h3>Royal Suite</h3>
        <p>Superficie : 306 m²</p>
        <p>Capacité : 2adultes +1 enfant</p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
      
      <div class="room-card">
        <img src="../static/img/Thailande_hotel/2eme partie image 6.jpg" alt="Fabulous Infinity Swim-up Room">
        <h3>Oriental 2 Bedroom Suite</h3>
        <p>Superficie : 376 m²</p>
        <p>Capacité : 4 adultes + 1 enfant</p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
    </div>
  </div>
  </div>
  

  <script>
        const viewMapLink = document.getElementById('view-map');
        const mapContainer = document.getElementById('map-container');
        const mapOverlay = document.getElementById('map-overlay');
        const closeMapBtn = document.getElementById('close-map');

        // Ouvrir la carte
        viewMapLink.addEventListener('click', (e) => {
            e.preventDefault();
            mapContainer.style.display = 'block';
            mapOverlay.style.display = 'block';
        });

        // Fermer la carte
        closeMapBtn.addEventListener('click', () => {
            mapContainer.style.display = 'none';
            mapOverlay.style.display = 'none';
        });

        // Fermer la carte en cliquant sur l'overlay
        mapOverlay.addEventListener('click', () => {
            mapContainer.style.display = 'none';
            mapOverlay.style.display = 'none';
        });
    // Script pour garder la navigation en bas
    const bottomNav = document.getElementById("bottom-nav");
    window.addEventListener("scroll", () => {
      bottomNav.style.bottom = "0"; // Fixe la barre au bas de l'écran
    });
  </script>

</body>
</html>
