<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nos hôtels _ Maldives</title>
  <link rel="stylesheet" href="../static/css/hotel.css">
  <link rel="shortcut icon" href="../static/img/travel/icone travel.png">
</head>
<body>
  
   <section id="carousel" class="carousel">

  <!-- Vidéo de fond -->
  <video id="accueil" class="video-background" autoplay muted loop>
    <source src="../static/img/Maldives_hotel/video_maldives.mp4" type="video/mp4">
    Votre navigateur ne supporte pas les vidéos HTML5.
  </video>

  <!-- Barre de navigation -->
  <nav id="bottom-nav">
    <ul>
      <li><a href="#accueil">Nos hôtels</a></li>
      <li><a href="/maldives">Nos séjours</a></li>
      <li><a href="/travel">Où partir</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  </section>

  <!-- Section Hôtel -->
  <div class="hotel-section">
    <div class="hotel-info">
      <h2>Océan Indien - Maldives - Laamu Atoll</h2>
      <h1>Six Senses Laamu</h1>
      <div class="hotel-details">
        <div class="hotel-detail-item">
          <div class="icon-container">
            <img src="../static/img/Maldives_hotel/1ere partie image 1.PNG" alt="Icône Meilleures périodes">
          </div>
          <div class="detail-text">
            <span class="detail-title">Meilleures périodes</span>
            <p class="detail-description">
                De Janvier à Avril <br>
                De Juin à Octobre
                </p>
          </div>
        </div>
        <div class="hotel-detail-item">
          <div class="icon-container">
            <img src="../static/img/Maldives_hotel/1ere partie image 2.PNG" alt="Icône Aéroport">
          </div>
          <div class="detail-text">
            <span class="detail-title">Aéroport</span>
            <p class="detail-description">Aéroport international de Malé </p>
          </div>
        </div>
        <div class="hotel-detail-item">
          <div class="icon-container">
            <img src="../static/img/Maldives_hotel/1ere partie image 3.PNG" alt="Icône Transfert">
          </div>
          <div class="detail-text">
            <span class="detail-title">Transfert</span>
            <p class="detail-description"> 50 minutes d'avion et
                15 minutes de bateau </p>
          </div>
        </div>
      </div>

      <div class="detail-text">
        <span class="detail-title"></span>
              <p class="hotel-description">
<p>La sérénité les pieds dans l'eau, les doigts de pieds en éventail. Vivez une incroyable sensation d'évasion au bout du monde, dans l'atoll de Laamu, perdu au milieu de l'Océan Indien.

    Sur une plage immaculée, le Six Senses offre pourtant un refuge chic et confortable. Construit sur pilotis, avec des matériaux durables, il s'intègre avec une grande harmonie dans cet environnement de mer turquoise et de sable blanc.</p>        
      </div>

        
        <div class="map-box">
          <a href="#" id="view-map">
            <img src="../static/img/Maldives_hotel/1ere partie image 5.PNG" alt="Icône de localisation">
            Voir la carte
          </a>
        </div>
      
        <div class="map-overlay" id="map-overlay"></div>
        <div class="map-container" id="map-container">
          <button class="close-btn" id="close-map">×</button>
          <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d127609.98234718594!2d73.3226204271062!3d1.817125822006541!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3b482bc5eb7294b1%3A0x8d6a3e6edc669559!2sLaamu%20Atoll%2015090%2C%20Maldives!3m2!1d1.8171277!2d73.4050224!5e0!3m2!1sfr!2sfr!4v1736613930566!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>              allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>

    <div class="hotel-booking">
      <h3>Votre Séjour</h3>
      <p class="price-info">
        Le prix indiqué ci-dessous est à titre informatif. Les prix dépendent de différents facteurs. Le prix final de votre séjour sera celui proposé par nos Travel Designers sur votre devis personnalisé. 
      </p>
      <div class="special-offer">
        <h4>Offre Spéciale</h4>
        <p>Bénéficiez jusqu’à 10% de remise sur votre séjour</p>
      </div>
      <div class="budget">
        <p><strong>Budget</strong></p>
        <ul>
          <li><img src="../static/img/Maldives_hotel/1ere partie image 4.PNG" alt="">7 nuits de  6 490€ à 12 200€ par personne</li>
          <li><img src="../static/img/Maldives_hotel/1ere partie image 4.PNG" alt="">Vols et transferts inclus</li>
        </ul>
        <p><a href="#">Voir ce que le prix comprend</a></p>
        <ul>
          <li>7 nuits en Lagoon Water Villa</li>
          <li>Les petits-déjeuners</li> 
          <li> Vols domestiques en classe économique </li> 
          <li> Vols internationaux en classe économique </li> 
          <li> Transferts privés </li>    
        </ul>
      </div>
      <button class="book-now">Créons votre voyage</button>
      <div class="contact-info">
        <p>Besoin d’un conseil ?</p>
        <p>Nos Travel Designers sont à votre écoute par téléphone...</p>
        <p><strong>01 45 04 21 21</strong></p>
      </div>
    </div>
  </div>

  <div class="hotel-section">
  <div class="rooms-section">
    <h2>Nos Chambres</h2>
    <p>Depuis l'intimité chic de votre villa, laissez votre regard se perdre dans l'immensité de l'Océan Indien. Construite sur pilotis face à la plage dans des matériaux durables, elle offre une vue splendide sur le lagon mais aussi sur la nature tropicale. De quoi garantir une journée placée sous le signe du calme et de la sérénité.</p>
    <div class="rooms-grid">
      <div class="room-card">
        <img src="../static/img/Maldives_hotel/2eme partie image 1.jpg" alt="Infinity Swim-up Room">
        <h3> Lagoon, Ocean, Laamu and Sunset Laamu Water Villa</h3>
        <p>Superficie : 108 m²</p>
        <p>Capacité : 2 adultes + 2 enfants</p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
      <div class="room-card">
        <img src="../static/img/Maldives_hotel/2eme partie image 2.jpg" alt="Bay Guest Room">
        <h3> Ocean, Laamu and Sunset Laamu Water Villas with pool</h3>
        <p>Superficie :126 m²</p>
        <p>Capacité : 2 adultes + 2 enfants </p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
      <div class="room-card">
        <img src="../static/img/Maldives_hotel/2eme partie image 3.jpg" alt="Spectacular Panorama Room">
        <h3>Lagoon and Ocean Beach Villas with pool</h3>
        <p>Superficie : 238 m²</p>
        <p>Capacité : 2 adultes + 3 enfants</p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
      <div class="room-card">
        <img src="../static/img/Maldives_hotel/2eme partie image 4.jpg" alt="Beachfront Pool Villa">
        <h3>Beachfront Pool Villa</h3>
        <p>Superficie : 127 m²</p>
        <p>Capacité : 5 adultes</p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
      <div class="room-card">
        <img src="../static/img/Maldives_hotel/2eme partie image 5.jpg" alt="Fabulous Infinity Swim-up Room">
        <h3>Two Bedroom Ocean Beach Villa with pool</h3>
        <p>Superficie : 530 m²</p>
        <p>Capacité : 4 adultes + 2 enfants</p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
      
      <div class="room-card">
        <img src="../static/img/Maldives_hotel/2eme partie image 6.jpg" alt="Fabulous Infinity Swim-up Room">
        <h3>The Retreat </h3>
        <p>Superficie : 1728 m²</p>
        <p>Capacité : 6 adultes + 3 enfants</p>
        <p class="center-link"><a href="/reservation">réservez</a></p>
      </div>
    </div>
  </div>
  </div>
  

  <script>
        const viewMapLink = document.getElementById('view-map');
        const mapContainer = document.getElementById('map-container');
        const mapOverlay = document.getElementById('map-overlay');
        const closeMapBtn = document.getElementById('close-map');

        // Ouvrir la carte
        viewMapLink.addEventListener('click', (e) => {
            e.preventDefault();
            mapContainer.style.display = 'block';
            mapOverlay.style.display = 'block';
        });

        // Fermer la carte
        closeMapBtn.addEventListener('click', () => {
            mapContainer.style.display = 'none';
            mapOverlay.style.display = 'none';
        });

        // Fermer la carte en cliquant sur l'overlay
        mapOverlay.addEventListener('click', () => {
            mapContainer.style.display = 'none';
            mapOverlay.style.display = 'none';
        });
    // Script pour garder la navigation en bas
    const bottomNav = document.getElementById("bottom-nav");
    window.addEventListener("scroll", () => {
      bottomNav.style.bottom = "0"; // Fixe la barre au bas de l'écran
    });
  </script>

</body>
</html>
