<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Destination - Maldives</title>
  <link rel="stylesheet" href="../static/css/thailande.css"></head>
<body>
    <header class="header">
        <nav>
          <ul>
            <li>
              <a href="#voyager-maldives">Voyager en Maldives</a>
            </li>
            <li>
              <a href="#nos-voyages">Nos Voyages</a>
            </li>
            <li>
              <a href="#nos-sejours">Nos Séjours</a>
            </li>
            <li>
              <a href="#guide-pratique">Guide pratique</a>
            </li>
          </ul>
        </nav>
      </header>


  <main>

    <section id="carousel" class="carousel">
      <section class="destination-title">
        <h1  class="main-title">Maldives</h1>
        <div class="title-underline"></div>
        <p class="subtitle">Des joyaux de turquoise</p>
      </section>
      <div id="voyager-maldives" class="slide active"><img src="../static/img/Maldives/1ere partie image 1.jpeg" alt="\&quot;Image"></div>
      <div class="slide"><img src="../static/img/Maldives/1ere partie image 2.jpg" alt="Image 2"></div>
      <div class="slide"><img src="../static/img/Maldives/1ere partie image 3.jpg" alt="Image 3"></div>
      <div class="slide"><img src="../static/img/Maldives/1ere partie image 4.jpg" alt="Image 4"></div>
      <div class="slide"><img src="../static/img/Maldives/1ere partie image 5.jpg" alt="Image 5"></div>
      <div class="slide"><img src="../static/img/Maldives/1ere partie image 6.jpg" alt="Image 6"></div>
      <div class="slide"><img src="../static/img/Maldives/1ere partie image 7.jpg" alt="Image 7"></div>
      <div class="slide"><img src="../static/img/Maldives/1ere partie image 8.jpg" alt="Image 8"></div>
      <div class="controls">
        <span class="control" data-slide="0">01</span> <span class="control" data-slide="1">02</span> <span class="control" data-slide="2">03</span> <span class="control" data-slide="3">04</span> <span class="control" data-slide="4">05</span> <span class="control" data-slide="5">06</span> <span class="control" data-slide="6">07</span> <span class="control" data-slide="7">08</span>
      </div>
    </section>
    <br>
    

    <section class="main-layout">
        <div class="description">
            <h2>Maldives</h2>
            <p>
                Au cœur de l’Océan Indien se dessine une véritable œuvre de la nature. Aux Maldives, chaque île est un tableau unique, invitant au luxe et à la détente. Véritable havre de paix où le temps semble s’arrêter, l’archipel offre de multiples possibilités d'exploration et d'aventure. Bien plus qu'un simple paradis, bienvenue dans un monde où chaque instant est une promesse de découvertes authentiques.
            </p>
        </div>
        <div class="info-cards-small">
            <div class="card">
                <img src="../static/img/Maldives/monnaie icone.jpg" alt="Monnaie Icon">
                <h3>Monnaie</h3>
                <p>Rufiyaa (MVR)</p>
            </div>
            <div class="card">
                <img src="../static/img/Maldives/avion icone.png" alt="Temps de vol Icon">
                <h3>Temps de vol</h3>
                <p>10h</p>
            </div>
            <div class="card">
                <img src="../static/img/Maldives/decalage icone.png " alt="Décalage horaire Icon">
                <h3>Décalage horaire</h3>
                <p>+4h en hiver et +3h en été</p>
            </div>
        </div>
    </section>

    
    <section class="why-thailand">
      <h2>Pourquoi partir aux Maldives ?</h2>
      <p>Les conseils de nos Travel Designers</p>
      <div class="features">
        <div class="feature">
          <img src="../static/img/Maldives/icone.PNG" alt="Beach icon">
          <p>Une évasion dans les plus beaux lagons du monde</p>
        </div>
        <div class="feature">
          <img src="../static/img/Maldives/icone.PNG" alt="Food icon">
          <p>Une retraite bien-être au bout du monde</p>
        </div>
        <div class="feature">
          <img src="../static/img/Maldives/icone.PNG" alt="Temple icon">
          <p>Une faune sous-marine exceptionnelle</p>
        </div>
        <div class="feature">
          <img src="../static/img/Maldives/icone.PNG" alt="Ceremony icon">
          <p>Une destination où le romantisme côtoie le dépaysement</p>
        </div>
      </div>
    </section>


    <section class="experience-section">
      <div class="text">
        <h2>Perles cachées</h2>
        <h3>Le paradis sur terre</h3>
        <p>
            D'origine corallienne, les Maldives offrent des plages extraordinaires avec un sable blanc ivoire d’une extrême finesse. Abritant quelques-unes des plus petites iles au monde, elles sont un repère privilégié pour les Robinson, amateurs de luxe et de plaisirs discrets. Envoutante de beauté et de sérénité, cette destination éblouit. Laissez-vous bercer par le lent roulis de l’eau cristalline, explorez les fonds marins du lagon lors de plongées enivrantes, ou aventurez-vous dans la végétation luxuriante de ses îles. Découvrir les Maldives, c’est vivre un rêve éveillé.
        </p>
      </div><img src="../static/img/Maldives/2eme partie image 1.jpg" alt="Expériences en Thaïlande">
    </section>


    <section class="experience-section">
      <img src="../static/img/Maldives/2eme partie image 2.jpg" alt="La Thaïlande au-delà du rêve">
      <div class="text">
        <h2>Par-delà l’horizon</h2>
        <h3>Un trésor à fleur d’eau</h3>
        <p>Pour donner vie à votre vision du paradis, Eluxtravel vous partage les secrets les mieux gardés de l'archipel des Maldives. Que vous soyez en quête de liberté, de nature ou d'intimité, les adresses sélectionnées reflètent vos désirs les plus profonds. Vivez l’expérience unique d’un séjour sur un îlot désert, perdu au milieu de l’Océan Indien ou dans une villa sur pilotis avec ponton privé et accès privilégié à la lagune. Embarquez pour cette destination d’exception où chaque détail est pensé pour vous offrir une expérience hors du commun, à la hauteur de vos rêves.</p>
      </div>
    </section>


    <section class="experience-section">
      <div class="text">
        <h2>Rencontres inattendues</h2>
        <h3>Un océan d’émotions</h3>
        <p>Pour vous faire vivre l’expérience des Maldives, Eluxtravel crée des moments exclusifs, ponctués de rencontres et de découvertes. Enfilez votre masque et votre tuba pour une séance de snorkeling inoubliable sur les récifs coralliens, aux côtés des tortues et des poissons tropicaux multicolores. Participez à la replantation du corail et contribuez ainsi à la préservation de cette merveille naturelle, ou partagez une sortie avec les locaux pour vous initier à la pêche traditionnelle. Et pour un instant magique, admirez le coucher du soleil lors d'une croisière en bateau, ou survolez les atolls en hydravion.</p>
      </div><img src="../static/img/Maldives/2eme partie image 3.jpg" alt="Expériences en Thaïlande">
    </section>


    <section class="experience-section">
      <img src="../static/img/Maldives/2eme partie image 4.jpg" alt="La Thaïlande au-delà du rêve">
      <div class="text">
        <h2>Parfums de tous horizons</h2>
        <h3>Une parenthèse colorée</h3>
        <p>Les Maldives reflètent une culture unique, influencée par les traditions indiennes, sri-lankaises et arabes. La musique et la danse traditionnelle maldivienne vous transportent sur le rythme endiablé du Boduberu et du Langiri. L’artisanat et le savoir-faire du tissage est également issu de ce mélange culturel unique, tout comme la cuisine locale, qui propose des plats épicés et savoureux tels que le curry et le roshi, où se marient la saveur du lait de coco à celle du poisson. Laissez-vous envoûter par les mille et une saveurs de ce pays à la culture riche et diversifiée.</p>
      </div>
    </section>

    <section class="experience-section">
        <div class="text">
          <h2>Entre deux mondes</h2>
          <h3>Invitation sous-marine</h3>
          <p>  Sous l'eau cristalline de l'Océan Indien, un monde éblouissant s'ouvre aux plongeurs désireux d’explorer la grande variété sous-marine des Maldives. Les immenses bancs de poissons tropicaux, les requins de récif, les majestueuses raies mantas et les paisibles tortues de mer sont autant d'espèces emblématiques qui peuplent les jardins coralliens préservés de l’archipel. Sanctuaire des magistraux requins-baleines, les atolls vous permettent de rencontrer ce géant des mers chaudes pour un moment hors du temps tandis qu’à la surface, les cocotiers se balancent au doux rythme des vagues.</p>
        </div><img src="../static/img/Maldives/2eme partie image 5.jpg" alt="Expériences en Thaïlande">
      </section>


    <section  id="nos-voyages" class="coups-de-coeur">
        <h2>Nos coups de cœur</h2>
        <div class="cards-container">
            <div class="card">
                <img src="../static/img/Maldives/3eme partie image 1.jpg" alt="Como Cocoa Island">
                <p class="location">MALDIVES - SOUTH MALÉ ATOLL</p>
                <h3>Como Cocoa Island</h3>
                <p>Le COMO Cocoa Island est un hôtel d'exception niché sur une île privée de l'Océan Indien aux Maldives. Son design contemporain...</p>
                <a href="/reservation">Réservez ></a>
            </div>
            <div class="card">
                <img src="../static/img/Maldives/3eme partie image 2.jpg" alt="Six Senses Kanuhura">
                <p class="location">MALDIVES - ATOLL DE LHAVIYANI</p>
                <h3>Six Senses Kanuhura</h3>
                <p>L'évasion, dans un paradis insulaire. Au cœur de l'atoll de Lhaviyani, l'hôtel Six Senses Kanuhura abrite l'une des plus belles plages...</p>
                <a href="/reservation">Réservez ></a>
            </div>
            <div class="card">
                <img src="../static/img/Maldives/3eme partie image 3.jpg" alt="Nautilus">
                <p class="location">MALDIVES - BAA ATOLL</p>
                <h3>Nautilus</h3>
                <p>Le cadre somptueux de The Nautilus vous plonge dans un univers parallèle, où le temps s'arrête pour profiter de la vie et de plaisirs...</p>
                <a href="/reservation">Réservez ></a>
            </div>
            <div class="card">
                <img src="../static/img/Maldives/3eme partie image 4.jpg" alt="Patina Maldives">
                <p class="location">MALDIVES - NORTH MALÉ ATOLL</p>
                <h3>Patina Maldives</h3>
                <p>Bienvenue au paradis : Où plus exactement dans les 4 îles Fari, dans l'atoll de Malé Nord aux Maldives, à 45 minutes de bateau de...</p>
                <a href="/reservation">Réservez ></a>
            </div>
        </div>
    </section>


    <section id="nos-sejours" class="sejours-section">
        <h2>Nos Séjours | Maldives</h2><br>
        <div class="sejours-cards">
            <div class="card">
                <img src="../static/img/Maldives/4eme partie image 1.jpg" alt="Anantara Rasananda">
                <p class="location">MALDIVES - NORTH MALÉ ATOLL</p>
                <h3>Patina Maldives</h3>
                <a class="category" href="/hotel_Maldives">HÔTEL ></a>
            </div>
            <div class="card">
                <img src="../static/img/Maldives/4eme partie image 2.jpg" alt="Anantara Koh Yao">
                <p class="location">MALDIVES - LAAMU ATOLL</p>
                <h3>Six Senses Laamu</h3>
                <a class="category" href="/hotel_Maldives">HÔTEL ></a>
            </div>
            <div class="card">
                <img src="../static/img/Maldives/4eme partie image 3.jpg" alt="Mandarin Oriental">
                <p class="location">MALDIVES - NOONU ATOLL</p>
                <h3>Soneva Jani</h3>
                <a class="category" href="/hotel_Maldives">HÔTEL ></a>
            </div>
            <div class="card">
                <img src="../static/img/Maldives/4eme partie image 4.jpg" alt="Six Senses Koh Samui">
                <p class="location">MALDIVES - ATOLL DE LHAVIYANI</p>
                <h3>Six Senses Kanuhura</h3>
                <a class="category" href="/hotel_Maldives">HÔTEL ></a>
            </div>
        </div>
    </section>

    <div id="guide-pratique"  class="guide-pratique-container">
        <h2>Guide pratique</h2>
        <p>Tous nos conseils pour bien préparer votre départ</p>
    
        <div class="guide-pratique-content">
    
            <!-- Section Informations Générales -->
            <div class="guide-pratique-column">
                <h3 onclick="toggleSection('info-gen')">Informations générales &#9662;</h3>
                <div id="info-gen" class="hidden-section">
                    <div class="question" onclick="toggleReponse('reponse1')">
                        <h4>Monnaie</h4>
                        <div class="reponse" id="reponse1">
                            <p>La monnaie officielle des Maldives est la rufiyaa..</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse2')">
                        <h4>Décalage horaire</h4>
                        <div class="reponse" id="reponse2">
                        <p>

                            Il faut compter 4 heures de plus en hiver et 3 heures de plus en été par rapport à la France métropolitaine.  <br>
                            
                            En hiver, lorsqu'il est 12h à Paris, il est 16h à Malé. <br>
                            
                            En été, lorsqu'il est 12h à Paris, il est 15h à Malé.
                            </p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse3')">
                        <h4>Langue</h4>
                        <div class="reponse" id="reponse3">
                            <p>La langue officielle des Maldives est le divehi.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse4')">
                        <h4>Électricité</h4>
                        <div class="reponse" id="reponse4">
                            <p>Les prises de courant utilisées aux Maldives ne sont pas les mêmes que celles utilisées en France. Les prises utilisées sont de types D et G. Il vous faudra donc un adaptateur.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse5')">
                        <h4>Téléphone</h4>
                        <div class="reponse" id="reponse5">
                            <p>
                                Pour appeler les Maldives depuis la France, composer le 00 960 puis le numéro de votre correspondant. <br>

                                Pour appeler la France depuis les Maldives, composer le 00 33 puis le numéro de votre correspondant
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    

            <!-- Section Formalités -->
            <div class="guide-pratique-column">
                <h3 onclick="toggleSection('formalites')">Formalités &#9662;</h3>
                <div id="formalites" class="hidden-section">
                    <div class="question" onclick="toggleReponse('reponse6')">
                        <h4>Visa</h4>
                        <div class="reponse" id="reponse6">
                            <p>Aucun visa n'est exigé pour les séjours de moins de 30 jours.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse7')">
                        <h4>Passeport</h4>
                        <div class="reponse" id="reponse7">
                            <p>Vous devez disposer d'un passeport valable au moins 6 mois après la date d'entrée en Thaïlande. </p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse8')">
                        <h4>Santé</h4>
                        <div class="reponse" id="reponse8">
                            <p>Aucune vaccination n’est obligatoire mais certaines sont recommandées pour se rendre en Thaïlande. 

                                Assurez-vous d'être à jour dans vos vaccinations habituelles mais également dans toutes les vaccinations liées aux régions que vous allez visiter. <br>
                                
                                La mise à jour de la vaccination diphtérie-tétanos-poliomyélite (DTP) ainsi que la vaccination rubéole-oreillons-rougeole (ROR) chez l'enfant et la vaccination antituberculeuse sont recommandées. Il est également recommandé d'être immunisé contre les hépatites A et B et, selon les conditions de voyage la typhoïde et la rage peuvent être conseillées..</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse9')">
                        <h4>Lien utils</h4>
                        <div class="reponse" id="reponse9">
                            <p>
                                Police (Malé) : 119 <br>

                                Assistance médicale : 102 <br>
                                
                                Pompiers : 118 <br>
                                
                                Consulat honoraire des Maldives en France : 9 bis, rue Defly - 06000 Nice
                                </p>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Section Avant de Partir -->
            <div class="guide-pratique-column">
                <h3 onclick="toggleSection('avant-partir')">Avant de partir &#9662;</h3>
                <div id="avant-partir" class="hidden-section">
                    <div class="question" onclick="toggleReponse('reponse10')">
                        <h4>Recommandations de voyage</h4>
                        <div class="reponse" id="reponse10">
                            <p>Nous vous recommandons d’emporter avec vous une photocopie de vos documents (passeport, permis de conduire…).</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse11')">
                        <h4>Dans sa valise </h4>
                        <div class="reponse" id="reponse11">
                            <p>Pour un voyage en Maldives, préparez une valise adaptée au climat tropical. Optez pour des vêtements légers en coton ou en lin pour faire face à la chaleur et à l'humidité, avec des tenues modestes pour visiter les sites religieux. Des chaussures confortables pour la marche et des sandales pour un usage quotidien sont indispensables. N'oubliez pas un maillot de bain pour profiter des plages et des piscines. Apportez un chapeau ou une casquette, des lunettes de soleil et de la crème solaire pour vous protéger du soleil intense. Une écharpe légère peut être utile pour couvrir vos épaules lors de visites dans des endroits sacrés</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse12')">
                        <h4>Savoir-vivre et tips</h4>
                        <div class="reponse" id="reponse12">
                            <p>Afin de ne pas perturber l'écosystème marin ni causer des dommages à la faune et à la flore locales, ne ramassez pas de coquillages, ne touchez pas les coraux et ne nourrissez pas les animaux marins.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse13')">
                        <h4>Quelques mots</h4>
                        <div class="reponse" id="reponse13">
                            <p> Bonjour = asalam aleykum <br>
                                Au revoir = vakivani <br>
                                Merci = choukouriya <br>
                                Oui/Non = ahn/nouné <br>
                                Combien ça coûte ? = mi kihavaraka ?</p>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    
  </main>

  <script src="../static/js/thailande.js"></script>

</body>
</html>