
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Destination - Suisse</title>
  <link rel="stylesheet" href="../static/css/thailande.css"></head>
<body>
    <header class="header">
        <nav>
          <ul>
            <li>
              <a href="#voyager-suisse">Voyager en Suisse</a>
            </li>
            <li>
              <a href="#nos-voyages">Nos Voyages</a>
            </li>
            <li>
              <a href="#nos-sejours">Nos Séjours</a>
            </li>
            <li>
              <a href="#guide-pratique">Guide pratique</a>
            </li>
          </ul>
        </nav>
      </header>


  <main>

    <section id="carousel" class="carousel">
      <section class="destination-title">
        <h1  class="main-title">Suisse</h1>
        <div class="title-underline"></div>
        <p class="subtitle">La suisse, dépaysement au sommet</p>
      </section>
      <div id="voyager-suisse" class="slide active"><img src="../static/img/Suisse/1ere partie image 1.jpg" alt="\&quot;Image"></div>
      <div class="slide"><img src="../static/img/Suisse/1ere partie image 2.jpg" alt="Image 2"></div>
      <div class="slide"><img src="../static/img/Suisse/1ere partie image 3.jpg" alt="Image 3"></div>
      <div class="slide"><img src="../static/img/Suisse/1ere partie image 4.jpg" alt="Image 4"></div>
      <div class="slide"><img src="../static/img/Suisse/1ere partie image 5.jpg" alt="Image 5"></div>
      <div class="slide"><img src="../static/img/Suisse/1ere partie image 6.jpg" alt="Image 6"></div>
      <div class="slide"><img src="../static/img/Suisse/1ere partie image 7.jpg" alt="Image 7"></div>
      <div class="slide"><img src="../static/img/Suisse/1ere partie image 8.jpg" alt="Image 8"></div>
      <div class="controls">
        <span class="control" data-slide="0">01</span> <span class="control" data-slide="1">02</span> <span class="control" data-slide="2">03</span> <span class="control" data-slide="3">04</span> <span class="control" data-slide="4">05</span> <span class="control" data-slide="5">06</span> <span class="control" data-slide="6">07</span> <span class="control" data-slide="7">08</span>
      </div>
    </section>
    <br>
    

    <section class="main-layout">
        <div class="description">
            <h2>Suisse</h2>
            <p>
Au cœur de la Grande Europe, la Suisse a comme un air de voisine originale, un brin désuète mais qui rassure et distille un parfum de sérénité. Stabilité, pérennité et tranquillité, voici bien l’esprit cher à la Suisse qui offre une multitude de trésors naturels, de traditions et de cultures à découvrir. A quelques heures de la France,  quelle  destination inspirante à tout point de vue !

            </p>
        </div>
        <div class="info-cards-small">
            <div class="card">
                <img src="../static/img/Suisse/monnaie icone.jpg" alt="Monnaie Icon">
                <h3>Monnaie</h3>
                <p>Franc Suisse (CHF)</p>
            </div>
            <div class="card">
                <img src="../static/img/Suisse/avion icone.png" alt="Temps de vol Icon">
                <h3>Temps de vol</h3>
                <p>1h15</p>
            </div>
            <div class="card">
                <img src="../static/img/Suisse/decalage icone.png " alt="Décalage horaire Icon">
                <h3>Décalage horaire</h3>
                <p>Aucun</p>
            </div>
        </div>
    </section>

    
    <section class="why-thailand">
      <h2>Pourquoi partir en Espagne ?</h2>
      <p>Les conseils de nos Travel Designers</p>
      <div class="features">
        <div class="feature">
          <img src="../static/img/Suisse/icone.PNG" alt="Beach icon">
          <p>Se ressourcer entre Alpes majestueuses et vallées verdoyantes   </p>
        </div>
        <div class="feature">
          <img src="../static/img/Suisse/icone.PNG" alt="Food icon">
          <p>Succomber aux spécialités gastronomiques</p>
        </div>
        <div class="feature">
          <img src="../static/img/Suisse/icone.PNG" alt="Temple icon">
          <p>Découvrir le paradis des amateurs de sports en plein air</p>
        </div>
        <div class="feature">
          <img src="../static/img/Suisse/icone.PNG" alt="Ceremony icon">
          <p>Profiter de sa proximité avec la France</p>
        </div>
      </div>
    </section>


    <section class="experience-section">
      <div class="text">
        <h2>Voyage au fil de trois cultures</h2>
        <h3>Suisse éternelle</h3>
        <p>  Exaltante, lénifiante, oxygénante… La Suisse ne manque pas d’attraits pour qui sait apprécier les majestueux paysages de montagne, les lacs aux reflets turquoise et les villages traditionnels. Mais au-delà de ces trésors, la Suisse est aussi un fantastique combiné de trois langues différentes : allemande, italienne et française composant ainsi une culture nationale unique et cosmopolite. Discrète, elle a su jouer un rôle primordial durant les différentes périodes de l’histoire et se révèle accueillante. De Bâle à Zurich, de Lausanne à Berne, des Grisons au Valais… la diversité et la beauté sont au rendez-vous.        </p>
      </div><img src="../static/img/Suisse/2eme partie image 1.jpg" alt="Expériences en Thaïlande">
    </section>


    <section class="experience-section">
      <img src="../static/img/Suisse/2eme partie image 2.jpg" >
      <div class="text">
        <h2>Un balcon sur une montagne </h2>
        <h3>Le charme alpin </h3>
        <p>  Fort de son expertise, Eluxtravel décline une panoplie d’adresses de prestige nichées dans des sites spectaculaires. Les Alpes suisses composent un écrin de toute beauté pour ces adresses au cachet 5*, que ce soit dans les stations huppées de Crans Montana ou de Gstaad et celles tout aussi recherchées de Verbier ou d’Andermatt. Les skieurs sont aux premières loges l’hiver des plus belles descentes et aux beaux jours, les adeptes d’air pur ont à cœur de parcourir de somptueux chemins d’alpage. Pour des séjours plus urbains, les grands hôtels vous accueillent aussi dans les capitales au charme intemporel.</p>
      </div>
    </section>


    <section class="experience-section">
      <div class="text">
        <h2> La montagne tout à soi </h2>
        <h3> Exaltation de l'adrénaline</h3>
        <p>   Aborder une destination par le biais des sensations est le fil rouge d’un voyage avec Eluxtravel. Votre programme s’enrichit d’expériences passionnantes et d’activités fortes. Au départ de Crans-Montana, par exemple, vous avez la chance de marcher dans un décor de nature exceptionnel, dans les vignobles en terrasse du Valais, avant de déguster les fameuses bouteilles. Dans le canton d’Uri, à Andermatt, fabriquez votre propre fromage d’alpage dans la pure tradition helvète ! L’hiver, l’adrénaline de la glisse est exacerbée au gré des activités qu’Eluxtravel se fait un plaisir de vous concocter.       </div><img src="images/2eme partie image 3.jpg" alt="Expériences en Thaïlande">
    </section>


    <section class="experience-section">
      <img src="../static/img/Suisse/2eme partie image 4.jpg" >
      <div class="text">
        <h2> Rêverie sur le lac Léman</h2>
        <h3> Comme un souffle de sérénité </h3>
        <p>  Majestueuse perle turquoise au cœur de la Suisse, le lac Léman est une source inépuisable d’inspiration, de dépaysement et de détente. Au pied des plus beaux sommets, il est un décor idyllique pour les amateurs d’activités nautiques et de baignade mais également les férus d’escapade citadine avec les incontournables capitales de Lausanne, Genève et Montreux. Entre ville et campagne, le lac Léman se nourrit de traditions et de folklore immuables mais aussi d’une modernité et d’un dynamisme culturel qui dessinent un séjour tout en nuances, en  diversité et en enchantement. 
      </div>
    </section>

    <section class="experience-section">
        <div class="text">
          <h2>Vallées et sommets majestueux, </h2>
          <h3> Une envie de montagne…</h3>
          <p>  Ciselée de montagnes vertigineuses, les Alpes suisses affichent leur caractère. Avec leurs versants parés de verdure qui résonnent des cloches de vaches l’été et leurs pentes immaculées l’hiver, rêve des skieurs et des amateurs de glisse en tout genre, elles séduisent sans discussion. Couronnées par les plus beaux sommets d’Europe et parsemées de lacs étincelants, les Alpes suisses constituent une formidable source de dépaysement sportif et gastronomique… De la randonnée au parapente, des villages traditionnels aux chalets d’alpages, les Alpes suisses vous embarquent dans un ailleurs déconnectant.
        </div><img src="../static/img/Suisse/2eme partie image 5.jpg" >
      </section>

      <section class="experience-section">
        <img src="../static/img/Suisse/2eme partie image 6.jpg" >
        <div class="text">
          <h2>  Nature grandiose de la Vallée de la Gruyère </h2>
          <h3> Le paradis au fil des saisons </h3>
          <p> Réputés pour le fameux gruyère AOP, la vallée de la Gruyère et le charmant village du même nom, sertis dans un paysage enchanteur sont une invitation au dépaysement. L’été, ressourcez-vous au fil des chemins de randonnée qui serpentent à flanc de montagne, à pied ou à VTT, à l’image de l’itinéraire thématique sur les fromageries d’alpage. L’hiver, place au ski dans la station du Moléson (2002 m d’altitude), une station de glisse familiale qui affiche 35km de pistes merveilleuses. Vous pouvez pousser jusqu’à la télécabine de Charmey pour rejoindre Vounetz (1627m) au panorama exceptionnel.
          </p>
        </div>
      </section>


    <section id="nos-voyages" class="coups-de-coeur">
        <h2>Nos Coups de Cœur</h2>
        <div class="cards-container">
            <div class="card">
                <img src="../static/img/Suisse/3eme partie image 1.webp" alt="Escapade aux royaumes des fjords">
                <p class="location">SUISSE - Grindelwald</p>
                <h3>Les Alpes Bernoises..</h3>
                <p class="description">
                    Les Alpes bernoises, avec leurs pics majestueux, vallées verdoyantes et villages alpins, captivent les visiteurs du monde entier.
                </p>
                <a href="/reservation">Réservez ></a>
            </div>
            <div class="card">
                <img src="../static/img/Suisse/3eme partie image 2.webp" alt="Échappée sauvage dans le grand nord">
                <p class="location">SUISSE - LUCERNE </p>
                <h3>Le Lac des Quatre-Cantons..</h3>
                <p class="description">
                    Poursuivons cette visite en Suisse et cette liste de ses 10 meilleures destinations au Lac des Quatre-Cantons. Entre les cantons de Lucerne, Uri, Schwyz, et Unterwald, il est entouré de montagnes majestueuses, et de villes riches en histoire.                 </p>
                    <a href="reservation.html">Réservez ></a>
                  </div>
            <div class="card">
                <img src="../static/img/Suisse/3eme partie image 3.webp" alt="Les îles Lofoten"><br> <br> 
                <p class="location">SUISSE - Zurich</p>
                <h3>Le Plateau Suisse...</h3>
                <p class="description">
                    un contraste fascinant entre plaines et montagnes. Zurich, la plus grande ville du pays, est un centre culturel dynamique où vous pourrez découvrir l’histoire de la Suisse, des premiers habitants aux développements modernes.
                </p>
                <a href="/reservation">Réservez ></a>
            </div>
            <div class="card">
                <img src="../static/img/Suisse/3eme partie image 4.webp" alt="Storfjord Hotel">
                <p class="location">SUISSE - BERNE</p>
                <h3> Horloge astronomique de Berne</h3>
                <p class="description">
                    une expérience immersive qui émerveille à chaque tournant. Que vous soyez passionné par l’aventure en montagne, la détente au bord des lacs ou l’exploration des villes culturelles, le pays a tout pour satisfaire votre soif de découverte.                </p>
                    <a href="/reservation">Réservez ></a>
                  </div>
        </div>
    </section>
    

    <section id="nos-sejours" class="sejours-section">
        <h2>Nos Séjours | Espagne</h2><br>
        <div class="sejours-cards">
            <div class="card">
                <img src="../static/img/Suisse/4eme partie image 1.jpg" alt="Anantara Rasananda">
                <p class="location">SUISSE - CRANS MONTANA</p>
                <h3>Six Senses Crans Montana</h3> <br>
                <a class="category" href="/hotel_Suisse">HÔTEL ></a>
            </div>
            <div class="card">
                <img src="../static/img/Suisse/4eme partie image 2.jpg" alt="Anantara Koh Yao">
                <p class="location">SUISSE - ANDERMATT</p>
                <h3>The Chedi Andermatt</h3> <br>
                <a class="category" href="/hotel_Suisse">HÔTEL ></a>
            </div>
            <div class="card">
                <img src="../static/img/Suisse/4eme partie image 3.jpg" alt="Mandarin Oriental">
                <p class="location">SUISSE - VERBIER</p>
                <h3>Experimental Chalet</h3> <br>
                <a class="category" href="/hotel_Suisse">HÔTEL ></a>
            </div>
            <div class="card">
                <img src="../static/img/Suisse/4eme partie image 4.jpg" alt="Six Senses Koh Samui">
                <p class="location">SUISSE - GSTAAD</p>
                <h3>Le Grand Bellevue</h3> <br>
                <a class="category" href="/hotel_Suisse">HÔTEL ></a>
            </div>
        </div>
    </section>

    <div id="guide-pratique"  class="guide-pratique-container">
        <h2>Guide pratique</h2>
        <p>Tous nos conseils pour bien préparer votre départ</p>
    
        <div class="guide-pratique-content">
    
            <!-- Section Informations Générales -->
            <div class="guide-pratique-column">
                <h3 onclick="toggleSection('info-gen')">Informations générales &#9662;</h3>
                <div id="info-gen" class="hidden-section">
                    <div class="question" onclick="toggleReponse('reponse1')">
                        <h4>Monnaie</h4>
                        <div class="reponse" id="reponse1">
                            <p>La monnaie est le franc suisse.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse2')">
                        <h4>Décalage horaire</h4>
                        <div class="reponse" id="reponse2">
                        <p>Il n’y a pas de décalage horaire.
                            </p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse3')">
                        <h4>Langue</h4>
                        <div class="reponse" id="reponse3">
                            <p>La Suisse a quatre langues officielles : l'allemand, le français, l'italien et le romanche. La langue officielle varie selon les régions. </p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse4')">
                        <h4>Électricité</h4>
                        <div class="reponse" id="reponse4">
                            <p>Les prises utilisées en Suisse sont de type J. Il vous faudra donc un adaptateur.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse5')">
                        <h4>Téléphone</h4>
                        <div class="reponse" id="reponse5">
                            <p>
                                Pour appeler la Suisse depuis la France, composer le +41 puis le numéro de votre correspondant.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    

            <!-- Section Formalités -->
            <div class="guide-pratique-column">
                <h3 onclick="toggleSection('formalites')">Formalités &#9662;</h3>
                <div id="formalites" class="hidden-section">
                    <div class="question" onclick="toggleReponse('reponse6')">
                        <h4>Visa</h4>
                        <div class="reponse" id="reponse6">
                            <p>Un voyage en Espagne ne nécessite pas de visa.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse7')">
                        <h4>Passeport</h4>
                        <div class="reponse" id="reponse7">
                            <p>Il vous faudra une carte nationale d’identité ou un passeport en cours de validité. </p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse8')">
                        <h4>Santé</h4>
                        <div class="reponse" id="reponse8">
                            <p>Aucun vaccin n'est obligatoire.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse9')">
                        <h4>Lien utils</h4>
                        <div class="reponse" id="reponse9">
                            <p>
                                 Numéro d'urgence (Police, Pompiers, Ambulance) : 112 <br>
                                Ambassade de France à Berne <br>
                                Schosshaldenstrasse 46 - 3006 Berne <br>
                                + 41 (0)31 359 21 11
                                
                                </p>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Section Avant de Partir -->
            <div class="guide-pratique-column">
                <h3 onclick="toggleSection('avant-partir')">Avant de partir &#9662;</h3>
                <div id="avant-partir" class="hidden-section">
                    <div class="question" onclick="toggleReponse('reponse10')">
                        <h4>Recommandations de voyage</h4>
                        <div class="reponse" id="reponse10">
                            <p>Nous vous recommandons d’emporter avec vous une photocopie de vos documents (passeport, permis de conduire…).  <br>

                                Nous vous recommandons également d’avoir en votre possession une carte européenne d’assurance maladie (CEAM), nominative et individuelle, donne droit à une prise en charge médicale</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse11')">
                        <h4>Dans sa valise </h4>
                        <div class="reponse" id="reponse11">
                            <p>Pour un voyage en Suisse, préparez une valise adaptée aux saisons changeantes et aux activités que vous prévoyez. En hiver, des vêtements chauds, tels que des manteaux, des pulls, des écharpes, des gants et des bottes, sont indispensables pour faire face au froid et à la neige, surtout si vous prévoyez des sports d'hiver. </p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse12')">
                        <h4>Savoir-vivre et tips</h4>
                        <div class="reponse" id="reponse12">
                            <p>Pour un voyage en Suisse inoubliable, explorez les majestueuses Alpes suisses en pratiquant la randonnée, le ski ou en prenant les trains panoramiques offrant des vues à couper le souffle. Ne manquez pas de goûter au délicieux chocolat suisse, une véritable gourmandise.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse13')">
                        <h4>Quelques mots</h4>
                        <div class="reponse" id="reponse13">
                            <p>Bonjour = Hello <br>
                                Au revoir = Good bye  <br>
                                Bonne journée = Have a nice day  <br>
                                Merci = Thank you  <br>
                                Oui/non = Yes/No  <br>
                                S'il vous plait = Please  <br>
                                Excusez-moi = Excuse me  <br>
                                Est-ce que vous parlez français ? = Do you speak French ? <br>
                                Je voudrais commander un taxi = I would like to order a taxi <br>
                                L'addition s'il vous plait = The bill please <br>
                                Combien ça coûte ? = How much does it cost ? <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    
  </main>

  <script src="../static/js/thailande.js"></script>

</body>
</html>