<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Destination - Thaïlande</title>
  <link rel="stylesheet" href="../static/css/thailande.css"></head>
<body>
    <header class="header">
        <nav>
          <ul>
            <li>
              <a href="#voyager-thailande">Voyager en Thaïlande</a>
            </li>
            <li>
              <a href="#nos-voyages">Nos Voyages</a>
            </li>
            <li>
              <a href="#nos-sejours">Nos Séjours</a>
            </li>
            <li>
              <a href="#guide-pratique">Guide pratique</a>
            </li>
          </ul>
        </nav>
      </header>

  <main>

    <section id="carousel" class="carousel">
      <section class="destination-title">
        <h1  class="main-title">Thaïlande</h1>
        <div class="title-underline"></div>
        <p class="subtitle">Au-delà des plages paradisiaques, un monde parallèle à explorer</p>
      </section>
      <div id="voyager-thailande" class="slide active"><img src="../static/img/Thailande/thailande capture.PNG" alt="\&quot;Image"></div>
      <div class="slide"><img src="../static/img/Thailande/image3.jpg" alt="Image 2"></div>
      <div class="slide"><img src="../static/img/Thailande/image3.jpg" alt="Image 3"></div>
      <div class="slide"><img src="../static/img/Thailande/image4.jpg" alt="Image 4"></div>
      <div class="slide"><img src="../static/img/Thailande/image5.jpg" alt="Image 5"></div>
      <div class="slide"><img src="../static/img/Thailande/image6.jpg" alt="Image 6"></div>
      <div class="slide"><img src="../static/img/Thailande/image7.jpg" alt="Image 7"></div>
      <div class="slide"><img src="../static/img/Thailande/image8.jpg" alt="Image 8"></div>
      <div class="controls">
        <span class="control" data-slide="0">01</span> <span class="control" data-slide="1">02</span> <span class="control" data-slide="2">03</span> <span class="control" data-slide="3">04</span> <span class="control" data-slide="4">05</span> <span class="control" data-slide="5">06</span> <span class="control" data-slide="6">07</span> <span class="control" data-slide="7">08</span>
      </div>
    </section>
    <br>
    

    <section class="main-layout">
        <div class="description">
            <h2>Thaïlande</h2>
            <p>
                Carte postale des vacances de rêve par excellence, avec la profondeur d’une culture bouddhiste millénaire
                sublimée par une multitude de temples grandioses. La Thaïlande va bien au-delà de ses superbes plages aux
                eaux turquoise. Une destination enchanteresse qui bouillonne au cœur de sa capitale Bangkok et émerveille
                à travers ses montagnes, ses rizières et ses îles paradisiaques.
            </p>
        </div>
        <div class="info-cards-small">
            <div class="card">
                <img src="../static/img/Thailande/icone argent.jpg" alt="Monnaie Icon">
                <h3>Monnaie</h3>
                <p>Baht (THB)</p>
            </div>
            <div class="card">
                <img src="../static/img/Thailande/icone voyage.PNG" alt="Temps de vol Icon">
                <h3>Temps de vol</h3>
                <p>Environ 11h30</p>
            </div>
            <div class="card">
                <img src="../static/img/Thailande/icone decalage.PNG " alt="Décalage horaire Icon">
                <h3>Décalage horaire</h3>
                <p>+6h en hiver et +5h en été</p>
            </div>
        </div>
    </section>

    
    <section class="why-thailand">
      <h2>Pourquoi partir en Thaïlande ?</h2>
      <p>Les conseils de nos Travel Designers</p>
      <div class="features">
        <div class="feature">
          <img src="../static/img/Thailande/icone.PNG" alt="Beach icon">
          <p>Des plages paradisiaques, invitation à l’émerveillement</p>
        </div>
        <div class="feature">
          <img src="../static/img/Thailande/icone.PNG" alt="Food icon">
          <p>Saveurs exquises, l’incontournable cuisine thaïlandaise</p>
        </div>
        <div class="feature">
          <img src="../static/img/Thailande/icone.PNG" alt="Temple icon">
          <p>Spiritualité apaisante, des temples majestueux</p>
        </div>
        <div class="feature">
          <img src="../static/img/Thailande/icone.PNG" alt="Ceremony icon">
          <p>Assister à des cérémonies traditionnelles</p>
        </div>
      </div>
    </section>


    <section class="experience-section">
      <div class="text">
        <h2>Des expériences privilégiées</h2>
        <h3>L’exceptionnel pour guide quotidien</h3>
        <p>Priorité aux souvenirs avec l’expertise d’Eluxtravel et ses Luxpériences immersives et exclusives. Imaginez-vous dans la peau de James Bond en naviguant dans la baie de Phang Nga, en slalomant entre ses étonnants pitons calcaires avec une escale yoga sur une plage de rêve. Ou préparez un repas traditionnel thaï chez l’habitant avant d’assister à la mythique cérémonie du baci pour convoquer les esprits bénéfiques… Que ce soit à travers une plongée dans les eaux cristallines de Ko Phi Phi ou un dîner aux chandelles dans une réserve naturelle avec un concert privé de musiciens thaïlandais, Eluxtravel vous propose l’exceptionnel à chaque instant.</p>
      </div><img src="../static/img/Thailande/2eme partie image 4.jpg" alt="Expériences en Thaïlande">
    </section>


    <section class="experience-section">
      <img src="../static/img/Thailande/2eme partie image 2.jpg" alt="La Thaïlande au-delà du rêve">
      <div class="text">
        <h2>La Thaïlande au-delà du rêve</h2>
        <h3>Le luxe et l’authenticité en priorité</h3>
        <p>Pour vous offrir la plus belle des rencontres avec le pays du sourire, Eluxtravel imagine des circuits sur-mesure, teintés de luxe avec une sélection pointue d’hôtels, du nord au sud de la Thaïlande. Lieux inédits, expériences confidentielles et singulières en survolant la forêt tropicale et les rizières en montgolfière, ou en se baignant auprès des éléphants dans une réserve, tout est pensé pour un émerveillement perpétuel. Réveillez-vous dans un refuge 5 étoiles sur la plage de Phuket ou dans l’un des hôtels les plus beaux du monde sur l’île de Yao Noi, et découvrez le charme pur de la Thaïlande.</p>
      </div>
    </section>


    <section class="experience-section">
      <div class="text">
        <h2>Au cœur des temples bouddhistes</h2>
        <h3>Quintessence sensorielle</h3>
        <p>Lieux de culte parfois spectaculaires en Thaïlande, les temples bouddhistes portent tous une personnalité différente et offrent une expérience sensorielle atypique, entre effluves d’encens envoûtants et sculptures recouvertes d’or éblouissant. Le temple blanc immaculé, le Wat Rong Khun, se distingue par sa monochromie et ses sculptures mêlant tradition et modernité. Le Wat Phra Kaew abrite quant à lui la statue de Bouddha d’émeraude, parmi les plus vénérées du pays et insolites avec ses 66 petits centimètres, en total contraste avec l’immense statue de Bouddha allongé doré de Wat Pho de 46 mètres de long. Un vrai saut dans l’histoire et les traditions thaïes</p>
      </div><img src="../static/img/Thailande/2eme partie image 5.jpg" alt="Expériences en Thaïlande">
    </section>


    <section class="experience-section">
      <img src="../static/img/Thailande/2eme partie image 3.jpg" alt="La Thaïlande au-delà du rêve">
      <div class="text">
        <h2>L’île de Ko Yao Noi</h2>
        <h3>Un air de paradis</h3>
        <p>A une heure de Phuket, dans la baie de Phang Nga, l’île de Yao Noi fait partie de ces secrets bien gardés pour découvrir la Thaïlande autrement. Baignée d’eaux turquoise, de plages et de criques au sable blanc, l’île préservée permet une escapade hors des sentiers battus, protégée par une philosophie de slow tourisme. Rencontre avec la population et les agriculteurs, entre rizières, plantations d’hévéas et mangroves, c’est aussi l’occasion d’observer une faune sauvage protégée, sur terre comme dans la mer. L’île de Yao Noi est d’ailleurs reconnue pour ses fonds marins extraordinaires, s’élevant ainsi au rang de paradis du snorkeling.</p>
      </div>
    </section>


    <section  id="nos-voyages" class="coups-de-coeur">
        <h2>Nos coups de cœur</h2>
        <div class="cards-container">
            <div class="card">
                <img src="../static/img/Thailande/3eme partie image 1.jpg" alt="Tradition Thaï">
                <h3>THAÏLANDE - BANGKOK</h3>
                <h4>Tradition Thaï et joyau inexploité</h4>
                <p>Bangkok vous souhaite la bienvenue dans un pays où la modernité côtoie de précieux vestiges et des traditions ancestrales.</p>
                <a href="/reservation">Réservez ></a>
            </div>
            <div class="card">
                <img src="../static/img/Thailande/3eme partie image 2.jpg" alt="Trésors du Nord">
                <h3>THAÏLANDE - BANGKOK</h3>
                <h4>Trésors du Nord et Evasion Insulaire</h4>
                <p>Partez à la découverte d’une Thaïlande envoûtante, où authenticité et raffinement se mêlent harmonieusement.</p>
                <a href="/reservation">Réservez ></a>
            </div>
            <div class="card">
                <img src="../static/img/Thailande/3eme partie image 3.jpg" alt="The Sarojin">
                <h3>THAÏLANDE - PHUKET</h3>
                <h4>The Sarojin</h4>
                <p>Le Sarojin, est né de la vision d’Andrew et Kate Kemp, un couple britannique passionné de voyages. Alliant finesse asiatique et raffinement.</p><br>
                <a href="/reservation">Réservez ></a>
            </div>
            <div class="card">
                <img src="../static/img/Thailande/3eme partie image 4.jpg" alt="Six Senses Yao Noi">
                <h3>THAÏLANDE - KOH YAO NOI</h3>
                <h4>Six Senses Yao Noi</h4>
                <p>Sa piscine ovale à débordement dominant les pythons rocheux de Phang Nga est sans doute la plus célèbre de Thaïlande.</p><br>
                <a href="/reservation">Réservez ></a>
            </div>
        </div>
    </section>


    <section id="nos-sejours" class="sejours-section">
        <h2>Nos Séjours | Thaïlande</h2><br>
        <div class="sejours-cards">
            <div class="card">
                <img src="../static/img/Thailande/4eme partie image 1.jpg" alt="Anantara Rasananda">
                <p class="location">THAILANDE</p>
                <h3>Anantara Rasananda Koh Phangan Villas</h3>
                <a class="category" href="../templates/hotel_Thailande.html">HÔTEL ></a>
               
            </div>
            <div class="card">
                <img src="../static/img/Thailande/4eme partie image 2.jpg" alt="Anantara Koh Yao">
                <p class="location">THAILANDE</p>
                <h3>Anantara Koh Yao Yai Resort & Villas</h3>
                <a class="category" href="/hotel_Thailande">HÔTEL ></a>
            </div>
            <div class="card">
                <img src="../static/img/Thailande/4eme partie image 3.jpg" alt="Mandarin Oriental">
                <p class="location">THAILANDE - BANGKOK</p>
                <h3>Mandarin Oriental, Bangkok</h3>
                <a class="category" href="/hotel_Thailande">HÔTEL ></a>
            </div>
            <div class="card">
                <img src="../static/img/Thailande/4eme partie image 4.jpg" alt="Six Senses Koh Samui">
                <p class="location">THAILANDE - KOH SAMUI</p>
                <h3>Six Senses Koh Samui</h3>
                <a class="category" href="/hotel_Thailande">HÔTEL ></a>
            </div>
        </div>
    </section>

    <div id="guide-pratique"  class="guide-pratique-container">
        <h2>Guide pratique</h2>
        <p>Tous nos conseils pour bien préparer votre départ</p>
    
        <div class="guide-pratique-content">
    
            <!-- Section Informations Générales -->
            <div class="guide-pratique-column">
                <h3 onclick="toggleSection('info-gen')">Informations générales &#9662;</h3>
                <div id="info-gen" class="hidden-section">
                    <div class="question" onclick="toggleReponse('reponse1')">
                        <h4>Monnaie</h4>
                        <div class="reponse" id="reponse1">
                            <p>La monnaie est le Baht.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse2')">
                        <h4>Décalage horaire</h4>
                        <div class="reponse" id="reponse2">
                            <p>Il faut compter 6 heures de plus en hiver et 5 heures de plus en été. <br>
                                En hiver, lorsqu'il est 12h à Paris, il est 18h à Bangkok. <br>

                                En été, lorsqu'il est 12h à Paris, il est 17h à Bangkok
                            </p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse3')">
                        <h4>Langue</h4>
                        <div class="reponse" id="reponse3">
                            <p>La langue officielle de la Thaïlande est le thaï.</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse4')">
                        <h4>Électricité</h4>
                        <div class="reponse" id="reponse4">
                            <p>Les prises de courant utilisées en Thaïlande sont les mêmes que celles utilisées en France ou sont compatibles. </p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse5')">
                        <h4>Téléphone</h4>
                        <div class="reponse" id="reponse5">
                            <p>

                                Pour appeler la Thaïlande depuis la France, composer le + 66 puis le numéro de votre correspondant. <br>
                                
                                Pour appeler la France depuis la Thaïlande, composer le + 33 puis le numéro de votre correspondant. 
                                </p>
                        </div>
                    </div>
                </div>
            </div>
    

            <!-- Section Formalités -->
            <div class="guide-pratique-column">
                <h3 onclick="toggleSection('formalites')">Formalités &#9662;</h3>
                <div id="formalites" class="hidden-section">
                    <div class="question" onclick="toggleReponse('reponse6')">
                        <h4>Visa</h4>
                        <div class="reponse" id="reponse6">
                            <p>Aucun visa n'est exigé pour les séjours de moins de 30 jours..</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse7')">
                        <h4>Passeport</h4>
                        <div class="reponse" id="reponse7">
                            <p>Vous devez disposer d'un passeport valable au moins 6 mois après la date d'entrée en Thaïlande. </p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse8')">
                        <h4>Santé</h4>
                        <div class="reponse" id="reponse8">
                            <p>Aucune vaccination n’est obligatoire mais certaines sont recommandées pour se rendre en Thaïlande. 

                                Assurez-vous d'être à jour dans vos vaccinations habituelles mais également dans toutes les vaccinations liées aux régions que vous allez visiter. <br>
                                
                                La mise à jour de la vaccination diphtérie-tétanos-poliomyélite (DTP) ainsi que la vaccination rubéole-oreillons-rougeole (ROR) chez l'enfant et la vaccination antituberculeuse sont recommandées. Il est également recommandé d'être immunisé contre les hépatites A et B et, selon les conditions de voyage la typhoïde et la rage peuvent être conseillées..</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse9')">
                        <h4>Lien utils</h4>
                        <div class="reponse" id="reponse9">
                            <p>

                                Numéro d'urgence (police, ambulance, pompiers) : 191 <br>
                                
                                Ambassade de France à Bangkok: 35 Rue de Brest, Charoen Krung Soi 36, Charoen Krung Road, Bang Rak, Bangkok 10500 <br>
                                Téléphone : +66 2 657 5100/ +66 2 627 2100
                                </p>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Section Avant de Partir -->
            <div class="guide-pratique-column">
                <h3 onclick="toggleSection('avant-partir')">Avant de partir &#9662;</h3>
                <div id="avant-partir" class="hidden-section">
                    <div class="question" onclick="toggleReponse('reponse10')">
                        <h4>Recommandations de voyage</h4>
                        <div class="reponse" id="reponse10">
                            <p>Nous vous recommandons d’emporter avec vous une photocopie de vos documents (passeport, permis de conduire…).</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse11')">
                        <h4>Dans sa valise </h4>
                        <div class="reponse" id="reponse11">
                            <p>Pour un voyage en Thaïlande, préparez une valise adaptée au climat tropical. Optez pour des vêtements légers en coton ou en lin pour faire face à la chaleur et à l'humidité, avec des tenues modestes pour visiter les sites religieux. Des chaussures confortables pour la marche et des sandales pour un usage quotidien sont indispensables. N'oubliez pas un maillot de bain pour profiter des plages et des piscines. Apportez un chapeau ou une casquette, des lunettes de soleil et de la crème solaire pour vous protéger du soleil intense. Une écharpe légère peut être utile pour couvrir vos épaules lors de visites dans des endroits sacrés</p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse12')">
                        <h4>Savoir-vivre et tips</h4>
                        <div class="reponse" id="reponse12">
                            <p>La Thaïlande est un pays aux multiples facettes où chaque moment est une aventure. Explorez les temples dorés de Bangkok, tels que le Wat Pho et le Wat Arun, puis montez dans un tuk-tuk pour vous immerger dans la vie trépidante de la ville. Découvrez la culture locale en participant à une classe de cuisine thaïe, où vous apprendrez à préparer des plats délicieux comme le pad thai et la tom yum. Plongez dans les eaux cristallines de la mer d'Andaman à Phuket ou des plages idylliques de Krabi pour vous détendre et pratiquer la plongée sous-marine. Explorez les marchés flottants colorés d'Ayutthaya et dégustez des plats de rue thaïlandais authentiques. </p>
                        </div>
                    </div>
                    <div class="question" onclick="toggleReponse('reponse13')">
                        <h4>Quelques mots</h4>
                        <div class="reponse" id="reponse13">
                            <p> Bonjour = Sawat di khrap  <br>
                                Au revoir = Sawat di khrap <br>
                                Bonne journée = k̄hx h̄ı̂ pĕn wạn thī̀ dī <br>
                                Merci = Kop khun khrap <br>
                                Oui/non = kha/may kha <br>
                                S’il vous plait = Kà rú naa <br>
                                Excusez-moi  = Khaw à phai <br>
                                Est-ce que vous parlez français ? = Khun phûut phaa-saa ang-krit dâi mai ? <br>
                                L’addition s’il vous plait = Kep tagn, douéi <br>
                                Combien ça coûte ? = tao rai khrap ?</p>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    
  </main>

  <script src="../static/js/thailande.js"></script>

</body>
</html>